<legend>Editing service</legend>

<%= render 'form' %>

<legend>Customers</legend>
<div class="service-level-agreements-service-page service-level-agreements">
  <%= render :partial => "service_level_agreements/service_level_agreement", :collection => @service.service_level_agreements %>
</div>
<input type="text" placeholder="type to add customer" id="service-edit-autocomplete-for-customer"/>

<script type="text/javascript">
  jQuery(function() {
    var serviceEditor = new jobsworth.services.ServiceEditor({service_id: <%= @service.id %>});
  })
</script>
