<legend>
  Services
  <%= link_to 'New Service', new_service_path, :class => "btn pull-right" %>
</legend>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_service_path(service) %></td>
  </tr>
<% end %>
</table>

