<div class="crumbs">
  <%= link_to 'Forums', home_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= 'Edit Forum' %></h1>

<% form_for :forum,
     :url  => forum_path(@forum),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Save Forum', :or => link_to('Cancel', forums_path) %>
<% end -%>