<div class="crumbs">
  <%= link_to "Forums", home_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= 'New Forum' %></h1>

<% form_for :forum, :url => forums_path do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Create', :or => link_to('Cancel', forums_path) %>
<% end -%>