<% (params[:libs] || "").split(',').each do |l| -%>
<script src="http://www.google.com/ig/f/<%=l%>"></script>
<% end -%>
<style type="text/css">
body {margin: 0px; background-color: #FFFFFF; color: #333333; font-size: 12px;}
a {color: #566ca5; text-decoration: none; font-weight: bold;}
a:hover {text-decoration: underline;}
.task {font-size: 11px; margin-left: 2px; border-left: solid 4px #b0d295; clear: both; font-size: 11px; min-height: 2.3em; margin-bottom: 2px;}
.task_paused {color: #000000; background-color: #F3F3F3;}
.task_active {color: #000000; background-color: #ececfe;}
.task_done {border-left: solid 4px #EEEEEE;}
.description { color: #5e6b71; font-size: 10px; }
a.description { color: #5e6b71; font-weight: normal; }
</style>
<% if @chart.nil? %>
<% @tasks.each do |t| %>
<%= render :partial => 'ig_task_row', :locals => { :task => t } %>
<% end %>
<% else %>
<p align="center" style="margin:0; padding:0;"><img src=<%=@chart%> border=0 /></p>
<% end %>
<% if params[:libs] %>
<script>
_IG_AdjustIFrameHeight();
</script>
<% end -%>
