<div class="milestone clearfix">
  <%= link_to_milestone milestone %>

  <% if current_user.can?(milestone.project, 'milestone') %>
     <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_milestone_path(milestone),
         :class => "pull-left hide action", :rel => "tooltip",
         :title => _("Edit milestone <b>%s</b>", escape_twice(milestone.name)) -%>
  <% end %>

  <div class="progress">
    <div class="bar" style="width: <%= number_to_percentage(milestone.percent_complete, :precision => 0)  %>;"> </div>
  </div>
</div>

