<% @page_title = t("milestones.new_title", title: Setting.productName) %>

<%= form_tag({:action => 'create'}, {:class => "form-horizontal"}) do %>
  <fieldset id="milestone_form">
    <%= "<legend>#{ t("milestones.new") }</legend>".html_safe unless @disable_title %>
    <%= render :partial => 'form' %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><%= t("button.create") %></button>
    </div>
  </fieldset>
<% end %>

