*~
*#
\.#*
*.bak
*.war
\.svn
/index
/store
config/environment.local.rb
semantic.cache
/tmp
.DS_Store
.buildpath
.project
.idea
lib/scripts/*.rb
config/deploy.rb
coverage
.bundle/
vendor/bundle
vendor/cache
scheduler.rb.pid
.sass-cache
.rvmrc
*.swp
*.sqlite3
.autotest*
public/assets
public/cucumber_test_assets/