*.swp
*~
*#
\.#*
*.bak
\.svn
/index
/store
/nbproject
config/database.yml
config/environment.local.rb
semantic.cache
tmp
.DS_Store
.buildpath
.project
.idea
lib/scripts/*.rb
public/javascripts/popup.js
public/stylesheets/popup.css
rerun.txt
Capfile
config/deploy.rb
coverage
.bundle/
tags
