Welcome back to Clocking IT!

Login at http://<%= @user.company.subdomain %>.<%= $CONFIG[:domain] %>

Your login information
----------------------
Username: <%= @user.username %>
Password: <%= @user.password %>

Log in, and track your projects.

Regards,
Erlend Simonsen
