<%= @user.company.name %> has moved to

http://<%= @user.company.subdomain %>.<%= $CONFIG[:domain] %>

Use this link to log in to ClockingIT from now on.

Account Information
-------------------
In case you've forgotten your account details, here they are:
Username: <%= @user.username %>
Password: <%= @user.password %>


If you need further help, have suggestions, find bugs, or just want to give me
some feedback, don't hesitate to reply to this email.

Regards,
Erlend Simonsen
