<div class="log_history clearfix">
  <ul id="tasktabs">
    <li><a href="#comments_tab"><span>Comments</span></a></li>
    <li><a href="#all_tab"><span>All</span></a></li>
    <li><a href="#changesets_tab"><span>Commits</span></a></li>
  </ul>
  <div id="comments_tab">
    <%= render :partial => 'activities/log_row2', :collection=>@task.work_logs.comments.level_accessed_by(current_user).all(:order => "started_at desc")  %>
  </div>
  <div id="all_tab">
    <%= render :partial => 'activities/log_row2', :collection=> @task.work_logs.level_accessed_by(current_user).all(:order => "started_at desc") %>
  </div>
  <div id="changesets_tab">
    <%= render :partial => 'scm_changesets/changeset', :collection=>@task.scm_changesets %>
  </div>
</div>
