<span class="right">
  <%= toggle_history_view_link %>
</span>

<div class="log_history clearfix">
  <% logs = (session[:only_comments] ? @task.work_logs.comments : @task.work_logs) -%>
  <% logs = logs.all(:order => "started_at desc") -%>
  <% logs.each do |log| -%>
    <%= render :partial => 'activities/log_row2', :locals => { :log => log } %>
  <% end -%>
</div>
