<div id="nextTasks">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header tooltip">
    <div>Next tasks</div>
  </div>
  <div class="panel_content">
    <ul>
	    <% count = 5 if ( count.nil? || count < 5) %>
			<% for task in nextTasks(count) %>
				<li><%= link_to "##{task.task_num} #{task.name}", task_view_path(task.task_num), 'data-taskid' => task.id %></li>
			<% end %>
    </ul>
    <div id="nextTasks_more">More...</div>
  </div>
</div>