<div id="nextTasks" class="section" >
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header">
    <div>Next tasks</div>
  </div>
  <div class="panel_content">
    <ul>
      <% count = 5 if ( count.nil? || count < 5) %>
      <% for task in nextTasks(count) %>
        <li>
          <b><%= link_to "##{task.task_num}", task_view_path(task.task_num), 'data-taskid' => task.id %></b> <%= task.name %> <small><%= ( "(" + worked_nice(task.duration) + ")" ) if task.duration > 0 %></small>
          <%= link_to "<i class=\"icon-move\"></i>".html_safe, "#", :title => "reorder task", :class => "pull-right" %>
        </li>
      <% end %>
    </ul>
    <div id="nextTasks_more"><a href ='#'>More...</a></div>
  </div>
</div>
