<div id="nextTasks" class="section" >
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header jtooltip">
    <div>Next tasks</div>
  </div>
  <div class="panel_content">
    <ul>
          <% count = 5 if ( count.nil? || count < 5) %>
            <% for task in nextTasks(count) %>
              <li><%= link_to "<b>##{task.task_num} #{task.name}</b> #{"(" + worked_nice(task.duration) + ")" if task.duration > 0}", task_view_path(task.task_num), 'data-taskid' => task.id %></li>
            <% end %>
    </ul>
    <div id="nextTasks_more"><a href ='#'>More...</a></div>
  </div>
</div>
