<ul class="querymenu">
  <li>
    <span><%= _(filter_name.pluralize.titleize) %></span>
    <ul class="menu">
      <% names_and_ids.each do |name, id| -%>
        <li class="add">
	  <%= link_to_function(name, "addTaskFilter(this, #{ id }, 'filter_#{ filter_name }[]')") %>	  
	</li>
      <% end -%>
    </ul>
</ul>
