<div id='save-dropdown' class="btn-group">
  <button class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="save-btn">
    Save
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><b style="padding-left:5px;">Save and log...</b></li>
    <li id='worklog-elapsed'>
      <a href='#'></a>
    </li>
    <li id='worklog-custom'>
      <a href='#worktime-dialog' data-toggle="modal">custom time...</a>
    </li>
    <li id='worklog-none'>
      <a href='#'>no time</a>
    </li>
  </ul>
</div>
