<div id='save-dropdown' class="clearfix none">
  <ul>
    <li>Save and log...</li>
    <li id='worklog-elapsed'>
      <a href='#'></a>
    </li>
    <li id='worklog-custom'>
      <a href='#'>custom time...</a>
    </li>
    <li id='worklog-none'>
      <a href='#'>no time</a>
    </li>
  </ul>
</div>
<%= render(:partial=> 'worktime_dialog') %>
