<div id='save-dropdown' class="none">
  <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
    <li>Save and log...</li>
    <li id='worklog-elapsed'  class="ui-menu-item">
      <a href='#'></a>
    </li>
    <li id='worklog-custom'  class="ui-menu-item">
      <a href='#'>custom time...</a>
    </li>
    <li id='worklog-none'  class="ui-menu-item">
      <a href='#'>no time</a>
    </li>
  </ul>
</div>
