<div id='save-dropdown'>
  <ul>
    <li>Save and log...</li>
    <li class='elapsed'>
      <a href='#'></a>
    </li>
    <li id='custom'>
      <a href='#'>custom time...</a>
    </li>
    <li id='no-time'>
      <a href='#'>no time</a>
    </li>
  </ul>
</div>
<%= render(:partial=> 'worktime_dialog') %>
