<ul class="menu">
  <li class="all" style="display: <%= display_all_label %>">
    <%= all_label -%>
  </li>
  <% selected_names_and_ids.each do |name, id| -%>
    <li class="cut">
      <%= link_to_function(name, "removeTaskFilter(this)") -%>
      <%= hidden_field_tag("#{ filter_name }[]", id) %>
    </li>
  <% end -%>
</ul>
