<div id='snooze-dropdown' class="btn-group">
  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="/#" id="snooze-btn">
    <span id="snooze-btn-val"><%= t('button.snooze') %></span>
    <span id="caret" class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li id='snooze-till-tomorrow'>
      <a href='#/'>Tomorrow</a>
    </li>
    <li id='snooze-till-next-week'>
      <a href='#/'>Next week</a>
    </li>
    <li id='snooze-till-customer-reply'>
      <a href='#/'>Until customer reply</a>
    </li>
    <li id='snooze-till-other-task'>
      <a href='#/'>Until other task...</a>
    </li>
    <li id='snooze-till-date'>
      <a href='#/'>Until date...</a>
    </li>
  </ul>
</div>
