<div id='timer-bar'>
  <div id='timer-ui'>
    <%= image_tag 'pause-18x18.png', id: 'pause-btn' %>
    <span id='timer-bar-elapsed' class='timer-bar'>
      <span id='hours' class='timer-bar'>
        <span class="timer-val"></span>
         hours
      </span>
      <span id='minutes' class='timer-bar'>
        <span class="timer-val">3</span>
         minutes
      </span>
    </end>
    <%= image_tag 'pin-18x18.png', id: 'pin-btn' %>
  </div>
</div>
