<fieldset id="todo">
  <legend><%= _("To-do") %></legend>

  <div id="todo-container" class="todo-container">
    <%= render :partial => (@task.new_record? or @new_task) ? "/todos/todos_clone" : "/todos/todos" %>
  </div>
</fieldset>
