<li id="<%=@todo.dom_id%>" class="<%=@todo.css_classes%>"><%= check_box("todo", "done", { "title" => (@todo.done? ? _('Open <b>%s</b>', @todo.name) : _("Close <b>%s</b>", @todo.name)),  :class => "button tooltip checkbox", :id => "button_#{@todo.id}",
									  :onclick => "new Ajax.Request('/tasks/todo_check_ajax/#{@todo.id}', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('loading');}, onLoading:function(request){Element.show('loading');}})"}) -%>
 <%= @todo.name %>
<%= "[#{tz.utc_to_local(@todo.completed_at).strftime("#{current_user.time_format} #{current_user.date_format}")}]" if @todo.done? %>
&nbsp;<a href="#" onclick="new Ajax.Request('/tasks/todo_delete_ajax/<%=@todo.id%>', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.hide('loading');}, onLoading:function(request){Element.show('loading');}}); return false;"><%= image_tag("cross_small.png", :border => 0, :title => _("Delete <b>%s</b>.", @todo.name), :class => "tooltip")%></a>
</li>

