<div id="top5">
<span class="collapsable-sidepanel-button">&nbsp;</span>
<div class="page_header tooltip">
  <div>
  <%= "TOP 5 Tasks" %>
    </div>
  </div>
  <ul class="panel_content">
    <%-@tasks_current_user.order("weight DESC").limit(5).each do |task|%>
        <li class="task downgrade"><%=link_to "##{task.task_num} #{task.name}", task_view_path(task.id), :class => "#{task.id}"%></li>
    <%end%>
    <li class="downgrade">Downgrade priority</li>
    <li class="ajax-loader" style="display: none"><%=image_tag("ajax-bar-loader.gif", :size =>"182x15")%> </li>
  </ul>
<%= javascript_tag "collapsiblePanel('top5');" %>
 </div>