<div id="top5">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header tooltip">
    <div>
      <%= "Next tasks" %>
    </div>
  </div>
  <div class="panel_content">
    <ul id="sortable">
    </ul>
    <div><%= link_to_function _("More"), "ShowMoreTasks()" %></div>
  </div>
</div>
<%= javascript_tag "collapsiblePanel('top5');" %>