<%
   email_address = unknown_notification
-%>
<div class="watcher clearfix">
  <%= hidden_field_tag("unknowns[]", email_address.email)  %>

  <label>
    &nbsp;
  </label>

  <%= link_to({ :controller => "email_addresses", :action => "edit", :id => email_address.id }, :class => "username unknown-email", :target => "_blank") do %>
    <span><%= email_address.username_or_email %></span>
  <% end %>
  <%= link_to('<i class="icon-remove"></i>'.html_safe, "#", :class => "removeLink") %>
</div>
