<div id="upload_container">
  <label for="tmp_files[]"><%=_ 'Attach a file' %>
     <% if perms['comment'].empty? %>(
      <%= link_to_function _("Upload more files"), "jQuery('#upload_container').append('#{file_field_tag('tmp_files[]', { :size => 15, :class => 'file add_attachment' }.merge( perms['comment'] ))}')" %>
   )<% end %>
  </label>
  <%= file_field_tag 'tmp_files[]', { :size => 15, :class => "file primary_attachment" }.merge( perms['comment'] ) %>
</div>
