<div id="upload_container">
  <% if perms['comment'].empty? %>
    <a href="javascript:void(0);"><%= image_tag "attach.png", :id => "add_attachment", :title => "add attachment" %></a>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#upload_container #add_attachment').click(function() {
      var html = '<div class="attachment"><input class="file add_attachment" id="tmp_files_" name="tmp_files[]" size="15" type="file"><a class="remove" href="javascript:void(0);">remove</a></div>'
      jQuery('#upload_container').append(html);
    })

    jQuery("#upload_container .attachment a.remove").live('click', function() {
      jQuery(this).parent().remove();
    })
  })
</script>
