<fieldset>
  <legend><%=_ "Work Times" %></legend>

  <% work = @task.user_work -%>
  <% users = work.keys.sort_by { |u| u.name } -%>
  <% users.each do |user| -%>
    <div class="user clearfix">
        <label><%= user.name %></label>
        <span class="text-content"><%= worked_nice(work[user]/60) %></span>
    </div>
  <% end -%>

</fieldset>
