<div id="worktime_container">
	<% fields_for "work_log" do |f| -%>
		<label>Time spent</label>
		<%= f.text_field :duration, :size => nil, :onclick => "jQuery('#worklog_extra').show();"%>
		<br/>
		
		<div id="worklog_extra">
			<%= f.label :started_at, _("Start") %>
			<%= f.text_field :started_at,  :size => nil, :value => formatted_datetime_for_current_user(Time.now) %>			
			<%= render(:partial => "/common/custom_attributes", :locals => { :object => current_user.company.work_logs.build }) %>
		</div>
	<% end -%>
</div>