<% @page_title = t("tasks.gantt_title", title: Setting.productName) %>

<%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>

<ul class="nav nav-tabs">
  <li><a href="/tasks"><i class="icon-list"></i> <%= t("tasks.icon_list") %> </a></li>
  <li><a href="/tasks/calendar"><i class="icon-calendar"></i> <%= t("tasks.icon_calendar") %> </a></li>
  <li class="active"><a href="/tasks/gantt"><i class="icon-align-left"></i> <%= t("tasks.icon_gantt") %> </a></li>
</ul>

<div id="gantt"></div>

<script type="text/javascript">
  jQuery(function() {
    new jobsworth.Gantt({container: jQuery("#gantt")});
  })
</script>

<div id="task">
</div>

