<% @page_title = "Task Calendar - #{Setting.productName}" %>

<%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>

<ul class="nav nav-tabs">
  <li><a href="/tasks"><i class="icon-list"></i> List</a></li>
  <li><a href="/tasks/calendar"><i class="icon-calendar"></i> Calendar</a></li>
  <li class="active"><a href="/tasks/gantt"><i class="icon-align-left"></i> Gantt</a></li>
</ul>

<div id="gantt"></div>

<script type="text/javascript">
  jQuery(function() {
    new jobsworth.Gantt({container: jQuery("#gantt")});
  })
</script>

<div id="task">
</div>

