<div id="content">
  <%= render :partial => "task_list_v2" %>
</div>

<div id="tags">
  <div class="page_header">
    <%=_ 'Tags' %>
    <% if current_user.admin? %><a href="/tasks/tags" class="right">Edit</a><% end %>
  </div>

  <% if @selected_tags.any? %>
  <span class="tag_active">
    <%= link_to _("[All Tags]") %>
  </span>
  <% end %>

  <%= tag_links(@all_tags) %>
</div>

