<div id="content">
	<%= render(:partial => "search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>

	<table id="task_list"></table> 
	<div id="task_pager"></div>

	<div id="task">
	  <%= render_last_task %>
	</div>
</div>
<%= render :partial => "/tags/panel" %>