<legend>
  <%= t("tasks.user_task_planning") %>
  <div class="btn-group pull-right" data-toggle="buttons-radio">
    <button id="collapse-all" class="btn" rel="tooltip" title="collapse all" data-placement="bottom"><i class="icon-align-justify"></i></button>
    <button id="show-all" class="btn active" rel="tooltip" title="show all" data-placement="bottom"><i class="icon-th"></i></button>
  </div>
</legend>

<div id="next-tasks-container">
  <% @users.each do |user| %>
    <%= render :partial => "tasks/next_tasks_panel", :locals => {:user => user} if user.next_tasks.count > 0 %>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(function() {
    var planning = new jobsworth.tasks.Planning();
  })
</script>
