<div id="content">
<fieldset id="shortlist">
<legend>2h3m</legend>
<% @tasks.each do |task| %>
<%= render :partial => 'task_row', :locals => {:task => task, :override_filter => false} %>
<% end %>
</div>
</fieldset>
