<ul class="dropdown-menu" tabindex="99" style="display:block;">
  <% User.where("id" => current_user.id).each do |u| -%>
  <li>
    <a href="#" id="users-to-notify_<%= u.id %>"><%= u.to_html %> (<%= u.customer.name %>)</a>
  </li>
  <% end -%>
</ul>
