<table id="score-rules" class="table table-striped table-bordered table-condensed"> 
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Exponent</th>
    <th>Score Type</th>
    <th colspan="2">Actions</th>
  </tr>
  <%= render @score_rules, :container => @container %>
</table>

<%= link_to 'new', 
            new_container_score_rule_path(@container), 
            :class => 'new-score-rule ui-button' %>
