<h3> <%= t("score_rules.add_new") %> </h3>
<p><%= t("score_rules.explanation", container: @container.class.to_s.humanize) %></p>
<%= render 'score_rule_form', :url => container_score_rules_path(@container) %>
