<%= error_messages_for 'news' %>

<p><label for="news_body">Body</label><%= text_area 'news', 'body', :cols => 80  %></p>
<p><label for="news_publc">Public</label><%= check_box 'news', 'portal' %></p>
<br/>

