<table class="content" width="100%" style="margin-left:1em; padding-left: 1em; padding-right: 1em;">
  <tr>
    <td class="page_header">
      Admin
    </td>
  </tr>
  <tr>
    <td><%= link_to "[Stats]", :action => "stats" %> | <%= link_to "[News]", :action => "news" %> | <%= link_to "Logos", :action => "logos" %></td>
  </tr>
</table>

