<% @page_title = "Work Log - #{$CONFIG[:productName]}" %>

<%= form_for(@log, :as => :work_log, :html => {:class => "form-horizontal"}) do |f| -%>
  <fieldset class="basic">
    <%= render :partial => "form" %>
    <div class="form-actions">
      <%= cit_submit_tag(@log) %>
      <% if can_delete_log?(@log) -%>
        <%= link_to _("Delete Log Entry"),  {:controller => 'work_logs', :action => 'destroy', :id => @log}, :confirm => _("Really delete this log entry?"), :method => :delete, :class => "btn btn-danger"  %>
    </div>
  <% end %>
  </fieldset>
<% end %>

