body

{
	background-color: #BEDDE5;
	margin-top: 0px;
	margin-left: 0px;
	font-family: Tomha, Verdana, sans-serif;
	letter-spacing: 2px;
	font-size: 11px;
	color: #000000;
		}
A         {color: #333333; font-size: 11px; font-weight: bold; text-decoration: underline}
A:active  {color: #333333; text-decoration: underline}
A:hover   {color: #6F9FDD; text-decoration: underline}

A.menulink {
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	background-color: #E4D2C2;
	text-transform: uppercase;
	width: 100%;
	display: block;
}

A.menulink:active { 
	color: #333333;
	text-decoration: none;
}

A.menulink:hover {
	color: #333333; 
	background-color: #FFFFFF;
	text-decoration: none;
}

.slogan1     {
	color: #FFFFFF;
	font-size: 11px;
	padding-left : 1em;
	text-transform: uppercase;
	font-weight: normal;
	background-color: #666666;
}
.tdtext     {
	color: #333333;
	font-size: 11px;
	padding-left : 1em;
	padding-right : 1em;
	background-color: #E4D2C2;
}
.smalltext    {
	color: #333333;
	font-size: 10px;
	letter-spacing: 1px;
}
.header    {
	color: #333333;
	font-size: 12px;
	text-transform: uppercase;
	text-indent: 3px;
	background-color: #E4D2C2
}

.kontakt       {color: #000000; font-size: 9px;}

.button         {color: #000000; font-size: 10px;}
