/* CSS for the login page */

body {
	font-size: 11px;
	margin: 0;
	padding: 0;
}

#login {
	margin: auto;
	padding: 40px;
	width: 375px;
}

form {
	padding: 80px 46px 46px;
	background-repeat: no-repeat;
	background-image: url('/images/login.jpg');
	height: 331px;
}

#name {
	font-weight: bold;
	font-size: 14px;
	position: relative;
	left: 80px;
	top: 15px;
	padding-bottom: 20px;
}

#ie6_upgrade_message {
	color: black;
	display: block;
	padding: 15px;
	background-color: #ffe4b7;
}
p {
	clear: both;
	padding-bottom: 3px;
}
p a{
 color: black;
}

img {
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
  
a { 
	color: #ffff88;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

inputbox {
	height: 25x;
}

label {
	width: 80px;
	float: left;
}

label#remember {
	width: auto;
	float: none;
}

button {
	float: none;
	left: 220px;
	top: 175px;
	position: relative;
	height: 25px;
	width: 66px;
	background-repeat: no-repeat;
	background-image: url('/images/Login-button.png');
	background-color: transparent;
	border: none;
	clear: none;
}

#notice {
	font-size: 1.1em;
	color: #ffff33;
}