body {
	color: white;
	font-family: verdana, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

#login {
	margin: auto;
	padding: 40px;
	width: 428px;
}

form {
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 50px;
	padding-top: 66px;
	background-repeat: no-repeat;
	background-image: url('/images/login.jpg');
	width: 428px;
	height: 378px;
}

#name {
	font-weight: 100;
	font-size: 14px;
	position: relative;
	left: 80px;
	top: 5px;
}

#ie6_upgrade_message {
	color: black;
	display: block;
	padding: 15px;
	background-color: #ffe4b7;
}
p {
	clear: both;
	padding-bottom: 15px;
}

img {
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
  
a { 
	color: #a1c3f1;
	text-decoration: none;
}

a:hover {
	color: #5b2d08;
	text-decoration: underline;
}

inputbox {
	height: 25x;
}
label {
	width: 100px;
	float: left;
}
button {
	float: none;
	left: 220px;
	top: 200px;
	position: relative;
	height: 41px;
	width: 110px;
	background-repeat: no-repeat;
	background-image: url('/images/Login-button.png');
	background-color: transparent;
	border: none;
	clear: none;
}

#notice {
	font-size: 1.1em;
	color: red;
}