body {
  background: #E3E7EA;
  margin: 0;
  padding: 0;
  font: 10.5pt/1.3em "Trebuchet MS", Trebuchet, Helvetica, Arial;
}

h1 {
  margin-left: 50px;
}

img {
  border: none;
}
  
a { 
  color: #038;
}

a:hover {
  color: #5b2d08;
}


ul li {
  list-style-image: url('/images/portal/comment.png');
  margin-right: 7px;
  color: #038;
  font-size: 0.80em;
}

/* FRAME */

#wrapper{
  width: 820px;
  background:transparent url(/images/portal/shadow.gif) repeat-y scroll center top !important;
  margin: 0 auto;
}

#top {
  font-size: 106%; 
  text-decoration: none;
  color: #FCFCFC;
  width: 780px;
  margin-left:30px;
}

.logo {
  margin: 50px 0 0 0;
}

a.menu_top{
color: #000;
text-decoration: none;
padding: 50px 40px 0 0;
font-weight:bold;
float:right;
}

a.menu_top_sign{
color: #FF9900;
text-decoration: none;
padding: 50px 40px 0 0;
font-weight:bold;
float:right;
}
.menu_white{
color: #FFF;
font-size: 1.2em; 
font-weight:bold;
padding-right: 20px;
text-align:center;
}

.text_white{
color: #FFF;
font-size: 1.3em; 
font-weight:bold;
margin: 20px 20px 20px 20px;
}

.text_black{
color: #3D3D3D;
font-size: 1.2em;
line-height: 22px;
margin: 20px 20px 20px 20px;
font-family: Georgia, Times, serif;
}

.black{
color: #3D3D3D;
line-height: 22px;
margin: 20px 20px 20px 20px;
font-family: Georgia, Times, serif;
}

a.bar{
color: #FFF;
text-decoration: none;
float:right;
font-size: 0.90em;
text-decoration: none;
padding-right: 20px;
font-family: Verdana, "Times New Roman", Times, serif;}
.orange {
color: #FF9900; 
font-weight:bold;
}         


.flag{
padding-right: 6px;
padding-right: 10 px;
}

.footer{
font-size: 0.70em;
color: #ccc;
text-align: center;
}

a.footer{
color: #FFF;
text-decoration: underline;
text-align: center;
font-size: 1.1em;
}
        