<%= fields.error_messages %>
<%= content_tag :legend, t('actions.set_due_date') %>
<p>
  <%= fields.label :argument, t('actions.date_of_action_execution') %>
  <%= fields.text_field :argument %>
</p>
