<fieldset>
<legend><%=_ 'Edit User' %></legend>

<%= start_form_tag :action => 'update', :id => @user %>
  <%= render :partial => "form" %>
  <%= submit_tag _("Edit"), :class => 'nolabel' %>
<%= end_form_tag %>

</fieldset>
