<fieldset>
<legend><%=_ 'Edit User' %></legend>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => "form" %>
  <%= submit_tag _("Edit"), :class => 'nolabel' %>
<% end %>

</fieldset>
