<fieldset>
<legend><%=_ 'Edit User' %></legend>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => "form" %>

  <%= submit_tag _("Save"), :class => 'nolabel' %>
    <br/>
<% end %>

<% if current_user.admin? %>
      <fieldset>
        <legend><%=_ 'Access to Projects' %></legend>
	<div id="permission_list"><%= render :partial => "project_permissions" %></div>
      </fieldset>
<% end %>

</fieldset>
