<% @page_title = "Preference - #{$CONFIG[:productName]}" %>

<legend>Preference</legend>

<%= form_tag({:action => 'update_preferences', :id => @user}, :class => "form-horizontal", :multipart => true) do %>
  <%= render :partial => "form" %>
  <div class="form-actions">
    <%= submit_tag _("Save"), :class => 'btn btn-primary' %>
  </div>
<% end %>

