<% @page_title = "New User - #{$CONFIG[:productName]}" %>

<% 
  @user_ids = []
  @current_user.company.projects.each do |p|
    @user_ids << p.users.collect{ |pu| pu.id }
  end

  @user_ids = [0] if @user_ids.flatten.compact.size == 0
  @users = User.where("id IN (?)", @user_ids.flatten.compact.uniq).order("name").collect{|u| [u.name, u.id.to_s]}
%>

<legend>New user</legend>

<%= form_tag({:action => 'create'}, :class => "form-horizontal") do %>
  <%= render :partial => "form" %>
  <div class="form-actions">
    <%= submit_tag _("Create"), :class => 'btn btn-primary' %>
  </div>
<% end %>
