<table class="content" width="100%" style="padding-left: 1em; padding-right: 1em;" cellpadding="0" cellspacing="0">
  <tr>
    <td class="page_header">
      <div style="float:left;"><%=_ 'Properties' %></div>
      <div style="float:right;padding-top:0.1em;">
	<%= link_to 'New Property', new_property_path %>
      </div>
    </td>
  </tr>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= render :partial => @properties %>
    </td>
  </tr>
</table>


<br />



