<%# defaults for when span.search_filter is removed -%>
<%= hidden_field_tag "task_filter[unread_only]", false %>

<% if task_filter.unread_only? %>
  <li>
    <%= hidden_field_tag "task_filter[unread_only]", true %>
    <%= t("task_filters.my_unread_only") %>
    <%= link_to('<i class="icon-remove"></i>'.html_safe, "#", :class => "pull-right remove-search-filter") %>
    &nbsp;
  </li>
<% end -%>
