<ul id="filter-menu" class="dropdown-menu" style ="display:none">
  <li class="ui-menu-item"><a href="#" id="savefilter_link"><strong>Save current filter</strong></a></li>
  <li class="ui-menu-item"><a href="/task_filters/manage"><strong>Manage filters</strong></a></li>
  <li class="divider"></li>
  <% @filters.each do |filter| -%>
  <li class="ui-menu-item load_filter" >
    <%= select_task_filter_link(filter) %>
  </li>
  <% end -%>
</ul>
