<% content_for(:task_list) do %>
<%= javascript_include_tag "gantt" %>
<div style="padding-top:0.3em;padding-right:1em;" id="ganttChart"></div>
<script type="text/javascript">  
  jQuery.get("/tasks/calendar_resources", function(data) {
    refresh_gantt(data)
  })    
</script>
<% end -%>
<%= render :file => 'tasks/index' %>
