<% content_for(:task_list) do %>
<script type="text/javascript" language="javascript" charset="utf-8" src="/javascripts/gantt.js"></script>
<div style="padding-top:0.3em;padding-right:1em;" id="ganttChart"></div>
<script type="text/javascript">  
  refresh_gantt();
</script>
<% end -%>
<%= render :file => 'tasks/index' %>
