<% if object.errors.any? %>
  <div class="validation-errors">
    <p> <%= t("shared.form_errors") %> </p>
    <ul>
      <% object.errors.full_messages.each do |error_message| %>
        <li> <%= error_message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
