<% if @task_totals[task.id] && @task_totals[task.id][day] -%>
<tr>
  <td style="padding-left: <%=level%>em;">
<% if task.description && task.description.length > 0 %>
<%= "<small>" + task.issue_num + "</small> " + link_to(task.name, {:controller => 'tasks', :action => 'edit', :id => task.id}, {:rel => "tooltip", :title => task.description.gsub(/\n/, '<br/>')}) -%>
<% else %>
<%= "<small>" + task.issue_num + "</small> " + link_to(task.name, {:controller => 'tasks', :action => 'edit', :id => task.id}) -%>
<% end %>
  </td>
  <td align="right" style="padding-left: 1em;" valign="top">
    <%= worked_nice(@task_totals[task.id][day]) if @task_totals[task.id][day] %>
  </td>
</tr>
<% end -%>
