<fieldset>
<legend><%= @page.name %></legend>

<%= start_form_tag :action => 'create', :id => @page.name %>
<textarea name="body" rows="20" cols="80"><%=@page.current_revision.body%></textarea>
<div style="clear:both;float:left;"><%= submit_tag _("Edit") %> <%= _('or')%> <%= link_to _("Cancel"), :controller => "wiki", :action => "cancel", :id => @page.name %></div>
