<span id="name-<%=@widget.dom_id%>"><%= @widget.name %></span>
&nbsp;<%= link_to( image_tag("feed.png", :border => 0, :title => _("Subscribe to this widgets RSS feed")), :controller => 'feeds', :action => 'rss', :id => current_user.uuid, :widget => @widget )%>
