<div class="page-header">
  <h1>Search for contacts</h1>
</div>

<%= text_field_tag("keyword", "", :class => "search_filter input-xxlarge", :placeholder => "Enter a name...", :id => "search", :autocomplete => "off") %>

<script type="text/javascript">
  jQuery(function() {
    new TypeHelper(jQuery("#search"), "/customers/search", 1);
  })
</script>
