<fieldset class="basic">
<legend><%=_ 'New Client' %></legend>

<%= form_tag :action => 'create' do %>
  <%= render :partial => "form" %>
  <label>&nbsp;</label>
  <%= submit_tag _("Create"), :class => "btn" %>
<% end %>

</fieldset>
