<fieldset>
<legend><%=_ 'New Client' %></legend>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => "form" %>
  <%= submit_tag _("Create"), :class => "nolabel" %>
<%= end_form_tag %>

</fieldset>
