<% @page_title = "New Customer - #{$CONFIG[:productName]}" %>

<%= form_tag({:action => 'create'}, {:class => "form-horizontal"})  do %>
  <fieldset>
    <legend><%=_ 'New Client' %></legend>
    <%= render :partial => "form" %>

    <div class="form-actions">
      <%= submit_tag _("Create"), :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

