<% for column in Customer.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @customer.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @customer %> |
<%= link_to 'Back', :action => 'list' %>
