<div id="notes" class="section">
  <a class="collapsable-sidepanel-button">&nbsp;</a>
  <div class="page_header" rel="tooltip" title="<%= _'Easy access to commonly needed information.'%>">
    <%=_ 'Notes'%>
    <a href="/pages/new"><i class="icon-pencil pull-right"></i></a>
  </div>
  <ul class="panel_content">
    <% for page in current_pages %>
    <li><%= link_to "#{page.name} / #{page.notable.name}", { :controller => 'pages', :action => 'show', :id => page} %> <small>(<%=_('%s ago', time_ago_in_words( page.updated_at, false ) )%>)</small></li>
    <% end %>
  </ul>
</div>
