<div class="control-group">
  <label for="news_body">Body</label>
  <div class="controls">
    <%= text_area 'news', 'body', :class => "span12" %>
  </div>
</div>

<div class="control-group">
  <label for="news_publc">Public</label>
  <div class="controls">
    <%= check_box 'news', 'portal' %>
  </div>
</div>

