<%= form_for(@news, :html => {:class => "form-horizontal"}) do %>
  <fieldset>
    <legend>Editing NewsItem</legend>
    <%= render :partial => "news_form" %>
    <div class="form-actions">
      <%= submit_tag "Edit", :class => 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
