<div class="page_header">
  <%= _"Custom Properties" %>
</div>

<ul>
  <% @attributables.each do |class_name, human_name| %>
  <li>
    <%= link_to(human_name.pluralize, :action => "edit", :type => class_name) %>
  </li>
  <% end %> 
  <li><%= link_to(_("Tasks"), properties_path) %></li>
</ul>
