$CONFIG = {
	:domain => "clockingit.com",  # The client specific hostname will be prepended to this domain
	:email_domain => "clockingit.com",
	:replyto => "admin",  # Note that this is not a full email address, just the part before the @
	:from => "admin",  # Note that this is not a full email address, just the part before the @
	:prefix => "[ClockingIT]",
	:productName => "ClockingIT",
	:SSL => false
}

ActionMailer::Base.smtp_settings = {
  :address  => "localhost",
  :port  => 25,
  :domain  => 'clockingit.com'
}

# Setup email notification of errors
ExceptionNotifier.exception_recipients = [ "email@example.com" ]
ExceptionNotifier.sender_address = [ "email@example.com" ]
