# encoding: UTF-8

$CONFIG = {
  :domain => "<%= domain %>",  # The client specific hostname will be prepended to this domain
  :email_domain => "<%= domain %>",
  :replyto => "admin",  # Note that this is not a full email address, just the part before the @
  :from => "admin",  # Note that this is not a full email address, just the part before the @
  :prefix => "[Jobsworth]",
  :productName => "Jobsworth",
  :SSL => false
}

ActionMailer::Base.smtp_settings = {
  :address  => "localhost",
  :port  => 25,
  :domain  => '<%= domain %>'
}

# Setup email notification of errors
Jobsworth::Application.config.middleware.use ExceptionNotifier,
    :email_prefix => "[Jobsworth error] ",
    :sender_address => %{"Jobsworth" <error@<%= domain %>>},
    :exception_recipients => %w{exceptions@example.com}
