<%= error_messages_for 'company' %>

<!--[form:company]-->
<p><label for="company_name">Name</label><%= text_field 'company', 'name'  %></p>

<p><label for="company_contact_email">Contact email</label><%= text_field 'company', 'contact_email'  %></p>

<p><label for="company_contact_name">Contact name</label>
<%= text_field 'company', 'contact_name'  %></p>

<br/>
<!--[eoform:company]-->

