<% for column in Company.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @company.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @company %> |
<%= link_to 'Back', :action => 'list' %>
