<% cache "tags/#{current_user.company_id}/#{current_user.id}" do %>
  <div id="tags" class="section">
    <span class="collapsable-sidepanel-button">&nbsp;</span>
    <div class="page_header">
      <%=_ 'Tags' %>
      <% if current_user.admin? -%><a href="/tags"><i class="icon-pencil pull-right" title="Edit"></i></a><% end -%>
    </div>

    <div class="cloud panel_content">
      <%= tag_links %>
    </div>
  </div>
<% end -%>
