<fieldset class="basic">
  <legend>
    <%= _("Edit tag - %s", @tag.name) %>
  </legend>

  <% form_for(@tag) do |f| -%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />

    <label>&nbsp;</label>
    <%= cit_submit_tag(@tag) %>
  <% end -%>
</fieldset>
