<div class="page_header clearfix">
  <span class="pull-left"><%=_ 'Task Templates' %></span>
  <span class="pull-right"><%= link_to _('New Template'), :action => 'new' %></span>
</div>

<ul>
  <% current_templates.each do |template| %>	
    <li>
      <%= link_to template, :controller=>'task_templates', :action=>'edit',:id=>template.task_num %>	   
      <div style="display:inline;" class="task-action">
        <%= link_to('<i class="icon-remove"></i>'.html_safe, { :controller => 'task_templates', :action => 'destroy', :id => template},
            :confirm => _("Are you sure?"), :title => _("Delete %s",template.name ), :class => "jtooltip")) %>
      </div>
    </li>
  <% end %>
</ul>

