<% @page_title = "Task Templates - #{$CONFIG[:productName]}" %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "templates"} %>
<% end %>

<legend>
  Task Templates
  <%= link_to _('New task template'), new_task_template_path, :class => "btn pull-right" %>
</legend>

<ul>
  <% @task_templates.each do |template| %>
    <li>
      <%= link_to template, :controller=>'task_templates', :action=>'edit',:id=>template.task_num %>	   
      <div style="display:inline;" class="task-action">
        <%= link_to('<i class="icon-remove"></i>'.html_safe, { :controller => 'task_templates', :action => 'destroy', :id => template},
            :confirm => _("Are you sure?"), :title => _("Delete %s",template.name ), :rel => "tooltip") %>
      </div>
    </li>
  <% end %>
</ul>

