<% @page_title = t("task_templates.title", title: Setting.productName) %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "templates"} %>
<% end %>

<legend>
  Task Templates
  <%= link_to t("task_templates.new_task_template"), new_task_template_path, :class => "btn pull-right" %>
</legend>

<ul>
  <% @task_templates.each do |template| %>
    <li>
      <%= link_to template, edit_task_template_path(template.task_num) %>
      <div style="display:inline;" class="task-action">
        <%= link_to('<i class="icon-remove"></i>'.html_safe, task_template_path(template), :method => :delete,
            :confirm => t("shared.are_you_sure"), :title => t("task_templates.delete", template: template.name), :rel => "tooltip") %>
      </div>
    </li>
  <% end %>
</ul>

