<% @page_title = "Task Templates - #{Setting.productName}" %>

<% content_for :navigation do %>
  <%= render :partial => "companies/navigation", :locals => {:selected => "templates"} %>
<% end %>

<legend>
  Task Templates
  <%= link_to _('New task template'), new_task_template_path, :class => "btn pull-right" %>
</legend>

<ul>
  <% @task_templates.each do |template| %>
    <li>
      <%= link_to template, edit_task_template_path(template.task_num) %>
      <div style="display:inline;" class="task-action">
        <%= link_to('<i class="icon-remove"></i>'.html_safe, task_template_path(template), :method => :delete,
            :confirm => _("Are you sure?"), :title => _("Delete %s",template.name ), :rel => "tooltip") %>
      </div>
    </li>
  <% end %>
</ul>

