<div class="page_header">
  <%= link_to _("Resources"), resources_path %>

  <%= _("Edit resource") %>
</div>

<div id="content">
  <%= render :partial => "form" %>
  
  <br />

  <%= render :partial => "history", :locals => { :resource => @resource } %>
</div>
