<div class="page_header">
  <%= link_to _("New resource"), new_resource_path %>
  <%= link_to _("New resource type"), new_resource_type_path %>

  <%= _"Resources" %>
</div>

<div class="resources">
  <ul>
    <% resources_without_parents(@resources).each do |r| %>
    <%= render(:partial => "resource", :locals => { :resource => r, :depth => 0 }) %>
    <% end %> 
  </ul>
</dev>
