var jobsworth = jobsworth || {};

jobsworth.TimeLine = (function($){

  var header_template = '' +
      '<tr>' +
        '<td class="log_header" colspan="3">' +
          '<strong>' +
            '{date}' +
          '</strong>' +
        '</td>' +
      '</tr>';

  function TimeLine(options) {
    this.options = options;
    this.init();
    this.bind();
  }

  TimeLine.prototype.bind = function() {
    var self = this;

    $('#filter_date').change(function() {
      if($('#filter_date').val() == "2" ) {
        $('#date_range').show();
      } else {
        $('#date_range').hide();
      }
      return false;
    });

    $("#load-more").click(function() {
      self.loadMore();
    })
  };

  TimeLine.prototype.init = function() {
    $("#start_date").datepicker({dateFormat: this.options.dateFormat});
    $("#stop_date").datepicker({dateFormat: this.options.dateFormat});
    if (this.options.filter_date != 2) $('#date_range').hide();
  };

  TimeLine.prototype.loadMore = function() {
    var self = this;
    $("#load-more").html($("<img src=\"<%= image_path("spinner.gif") %>\">")).prop("disabled", true);
    $.getJSON("/timeline/index", this.options, function(res) {
      if (res.count >= self.options.limit) {
        for (var index in res.items) {
          var item = res.items[index];
          if (self.options.lastDate != item.date) {
            $("table#timeline-table").append(header_template.replace("{date}", item.date));
            self.options.lastDate = item.date;
          }
          $("table#timeline-table").append(item.html);
          $("#load-more").text("Load More...").prop("disabled", false);
        }
        self.options.offset = self.options.offset + res.count;
      } else {
        $("#load-more").text("No more items.").prop("disabled", true);
      }
    })
  };

  return TimeLine;
})(jQuery);
