<div id="wrapper">
  <div id="top">
    <%= render :partial => "portal_header" %>
    <table width="910px" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="910px" height="40" bgcolor="#3D3D3D" class="menu_white">About ClockingIT</td>
      </tr>
      <tr>
        <td>
          <table width="910px" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" bgcolor="#F8F8F8">
		<p class="black"><span class="orange">What?</span><br/>
		  ClockingIT is a hosted application for tracking all your tasks, issues, projects and time spent, with a focus on software development and handling large amounts of tasks.
		</p>

		<p class="black"><span class="orange">Why?</span><br/>
		  It was created to fill a gap that presented itself while working full time as a consultant. Managing several projects across multiple clients, all wanting
		  reports on progress, and remembering what to do, for who, became a chore. Thus, <span class="orange">ClockingIT</span> was born after 6 days of intense learn-as-you-go Ruby on Rails. It has since received quite a few make-overs and rewrites, but the basic idea and vision remains the same.
		  After giving up on consulting, we kept on programming as Ruby on Rails is a fun platform, and <span class="orange">ClockingIT</span> had turned into a usable application others might want to use as well.
		</p>

		<p class="black"><span class="orange">Who?</span><br/>
		  The people behind <span class="orange">ClockingIT</span> are Erlend and Ellen Simonsen, a married couple living in Oslo, Norway. Erlend does all the programming, and most of the feature design, while
		  Ellen does the interface design, graphics and colors.</p>

		<p class="black"><span class="orange">How?</span><br/>
		  We're keeping it free for the time being, as we have our own dedicated server and have no running costs other than our time. 
		</p>
	      </td>
	    </tr>
	  </table>
	  <%= render :partial => "portal_footer" %>
	</td>
      </tr>
    </table>
  </div>
</div>
