<div id="wrapper">
  <div id="top">
    <%= render :partial => "portal_header" %>
    <table width="910px" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="910px" height="40" bgcolor="#3D3D3D" class="menu_white">Privacy Policy - <span class="orange"><strong> THIS IS A DRAFT </strong></span></td>
      </tr>
      <tr>
        <td>
          <table width="910px" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" bgcolor="#F8F8F8">
		<p class="black">
		  <br/>
		  Thank you for visiting our web site. This privacy policy tells you how we use personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. 
		  By using the site, you are accepting the practices described in this privacy policy. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a 
		  going forward, not retroactive basis. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.<br/><br/>

		  <span class="orange">Collection of Information</span><br/>
		    We collect personally identifiable information, like names, postal addresses, email addresses, etc., when voluntarily submitted by our visitors. The information you provide is used to fulfill you specific request. 
		    This information is only used to fulfill your specific request, unless you give us permission to use it in another manner.
                    <br/><br/>
		    
		  <span class="orange">Cookies</span><br/>
		    When you visit ClockingIT, we send one or more cookies - a small file containing a string of characters - to your computer that uniquely identifies your browser. 
		    We use the cookies to improve the quality of our service by storing user preferences and temporary selections, like your active View or filters. Cookies are required to use our services, but they hold no personal information.
		    <br/><br/>
		    
		  <span class="orange">Distribution of Information</span><br/>
		    We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual 
		    or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.
		    All emails and newsletters from this site allow you to opt out of further mailings.
                    <br/><br/>

		  <span class="orange">Commitment to Data Security</span><br/>
		    We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, 
		    storage and processing practices and security measures, as well as physical security measures to guard against unauthorized access to systems where we store personal data.<br/><br/>
					    
		    We restrict access to personal information to ClockingIT employees, contractors and agents who need to know that information in order to operate, develop or improve our services. 
		    These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations. 
                    <br/><br/>
			
		  <span class="orange">Privacy Contact Information</span><br/>
		    If you have any questions, concerns, or comments about our privacy policy you may contact us using the information below:<br/>
		    email: support@clockingit.com<br/>
		    mail: Erlend & Ellen Simonsen, Eiriksgt 18, N-0650 Oslo, Norway<br/>
	            <br/><br/>
		  We reserve the right to make changes to this policy. Any changes to this policy will be posted.
		</p>
	      </td>
	    </tr>
	  </table>
	  <%= render :partial => "portal_footer" %>
	</td>
      </tr>
    </table>
  </div>
</div>
