<div id="wrapper">
  <div id="top">
    <%= render :partial => "portal_header" %>
    <table width="760" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table width="759" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="554" valign="top" bgcolor="#3D3D3D">
		<p class="text_white">
		  Overview Page
		  <img src="/images/portal/screen_1.png" alt="Overview Page" width="554" />
		</p>
		<p class="text_white">
		  Interactive GANTT chart
                  <img src="/images/portal/screen_4.png" alt="GANTT chart" width="554" />
		</p>
		<p class="text_white">
		  Tasklist 
		  <br />
                  <img src="/images/portal/screen_2.png" alt="Tasklist" width="554" />
		</p>
		<p class="text_white">
		  File Storage
                  <img src="/images/portal/screen_8.png" alt="File Storage" width="554" />
		</p>
		<p class="text_white">
		  Timesheet Report
                  <img src="/images/portal/screen_7.png" alt="Example Report" width="554" />
		</p>
	      </td>
              <td width="205" valign="top" bgcolor="#e2e2e2">
                <p class="text_black">Features in details </p>
                
                <p class="black"><span class="orange">Project Management</span><br />
                  task filters<br />
                  time tracking<br />
                  milstones<br />
                  timeline<br />
                  calendar<br />
                  graphs<br />
                  ajax gantt chart<br />
                  notes<br />
                  comments<br />
                  reports<br />
                  csv export<br />
		</p>
                <p class="black"><span class="orange">Collaboration</span><br />
		  private forum<br /> 
		  private wiki<br />
		  group chat<br /> 
		  instant messaging<br />
		  email alerts<br />
		  rss &amp; ical feeds<br />
                  file storage</p>
                <p class="black"><span class="orange">Extra</span><br />
                  14 languages<br />
                  widgets<br />
                  google gadget<br />
                  custom logo<br />
                  avatars<br />
		</p>
                <p class="black"><span class="orange">Security</span><br />
                  private server<br/>
                  off-site backups
		</p>
              </td>
            </tr>
          </table>
	  <%= render :partial => "portal_footer" %>
	</td>
      </tr>
    </table>
  </div>
</div>
