<div id="wrapper">
  <div id="top">
    <%= render :partial => "portal_header" %>
    <table width="910px" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table width="910px" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" bgcolor="#3D3D3D">
		<p class="text_white">
		  Overview Page
		  <br/><br/>
		  <img src="/images/portal/screen_1.png" alt="Overview Page" width="694" />
		  <span class="text_white_small">The dashboard of ClockingIT, with widgets you can add and customize to show the information you're interested in. Whenever someone does something on a task, it will be reflected here automatically.</span>
		</p>
		<p class="text_white">
		  Interactive GANTT chart
		  <br/><br/>
                  <img src="/images/portal/screen_4.png" alt="GANTT chart" width="694" />
		  <span class="text_white_small">Your complete schedule at a glance. Just edit the time estimates and set due dates, and you're good to go. The chart updates continuously, as you make changes.</span>
		</p>
		<p class="text_white">
		  Tasklist 
		  <br/><br/>
                  <img src="/images/portal/screen_2.png" alt="Tasklist" width="694" />
		  <span class="text_white_small">Filter and sort your tasks to manage enormous work-loads. You can also save commonly used filters as a View.</span>
		</p>
		<p class="text_white">
		  File Storage
		  <br/><br/>
		  <img src="/images/portal/screen_8.png" alt="File Storage" width="694" />
                  <span class="text_white_small">Upload files you or your co-workers need, and they're always accessible.</span>
		</p>
		<p class="text_white">
		  Timesheet Report
		  <br/><br/>
                  <img src="/images/portal/screen_7.png" alt="Example Report" width="694" />
		  <span class="text_white_small">When it's that time of the month, just run a time-sheet report, print it, and you're done! Or download the CSV version, import it into your spreadsheet, and make pretty graphs for your clients.</span>
		</p>
		<p class="text_white">
		  GANTT Chart Movie
		  <br/>
                  <div align="center" height="382">
			<object width="507" height="382">
			<param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=1331210&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=ff9900&amp;fullscreen=1" />
			<embed src="http://www.vimeo.com/moogaloop.swf?clip_id=1331210&amp;server=www.vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=ff9900&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="507" height="382"></embed>
			</object>
		  </div>
		  <br/>
		  <span style="padding:1em;">A short movie showing how the GANTT updates in real-time as you change task estimates and due dates.</span>
		  <br/>
		</p>
		<br/>
	      </td>
              <td width="205px" valign="top">
                <p class="text_black" style="margin-top:0px;">Features in detail</p>
                
                <p class="black"><span class="orange">Project Management</span><br />
                  task filters<br />
                  time tracking<br />
                  milstones<br />
                  timeline<br />
                  calendar<br />
                  graphs<br />
                  ajax gantt chart<br />
                  drag &amp; drop organizing<br/>
                  notes<br />
                  comments<br />
                  reports<br />
                  csv export<br />
		</p>
                <p class="black"><span class="orange">Collaboration</span><br />
		  private forum<br /> 
		  private wiki<br />
		  group chat / transcripts<br /> 
		  instant messaging<br />
		  email alerts<br />
		  rss &amp; ical feeds<br />
                  file storage</p>
                <p class="black"><span class="orange">Extras</span><br />
                  14 languages<br />
                  customizable widgets<br />
                  google gadget<br />
                  brandable<br />
                  avatars<br />
		</p>
                <p class="black"><span class="orange">Security</span><br />
                  private server<br/>
                  dedicated admin<br/>
                  off-site backups
		</p>
              </td>
            </tr>
          </table>
	  <%= render :partial => "portal_footer" %>
	</td>
      </tr>
    </table>
  </div>
</div>
