<div id="wrapper">
  <div id="top">
    <%= render :partial => "portal_header" %>
    <table width="910px" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="910px" height="40" bgcolor="#3D3D3D" class="menu_white">Terms of Service - <span class="orange"><strong> COMING SOON </strong></span></td>
      </tr>
      <tr>
        <td>
          <table width="910px" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" bgcolor="#F8F8F8">
		<p class="black">
		</p>
	      </td>
	    </tr>
	  </table>
	  <%= render :partial => "portal_footer" %>
	</td>
      </tr>
    </table>
  </div>
</div>
