<fieldset id="content">
<legend><%=_ 'New View' %></legend>

<% form_tag :action => 'create' do %>
  <%= render :partial => "form" %>
  <label>&nbsp;</label><div class="buttons">
  <%= submit_tag _("Create"), :class => 'nolabel' %>
  </div>
<% end %>

</fieldset>
