<ul class="task-todo new-task" id="todos-clone">
  <% @task.todos.each do |todo| -%>
    <%= render :partial => "/todos/new_todo", :locals => {:todo => todo} %>
  <% end -%>
</ul>

<% template = render_to_string(:partial => "/todos/new_todo", :locals => {:todo => Todo.new(:creator_id => current_user.id )}) %>

<div id="new-todo-for-new-task" class="todo" data-todo="<%= template %>">
  <div class="edit">
    <%= text_field_tag("todo[name]", "", :size => 50) %>
  </div>
</div>
