<a class="<%=(task.todos.empty? ? "todo-status-link-empty" :"todo-status-link")%>" style="padding-right:0" href="#" onclick="jQuery('#todo-container').toggle(); return false;">
  <%= task.todo_status %>
</a>