<ul class="task-todo" id="todos-clone">
  <% @task.todos.each do |todo| -%>
    <%= render :partial => "/todos/new_todo", :locals => {:todo => todo} %>
  <% end -%>
</ul>

<div id="new-todos" class="todo">
  <div class="display">
    <%= add_new_todo %>
  </div>
  <div class="edit" style="display: none">
    <%= text_field_tag("todo[name]", "", :size => 50) %>
    <%= link_to_function(_("Cancel"), "toggleTodoCloneEdit(this)") %>
  </div>
</div>
