<ul class="task-todo existing-task" id="todo-tasks-<%= @task.id %>">
  <%= render :partial => "/todos/todo.html.erb", :collection => @task.todos %>
</ul>

<div id="new-todo-for-existing-task" class="todo">
  <div class="edit">
    <%= text_field_tag("todo[name]", "", :size => 50) %>
  </div>
</div>
