      <small>
      <% if !folder.new_record? && (@up.nil? || @up == false) %>
      <%   info = []
           if folder.num_folders > 0
             info += ["#{_('%d folder', folder.num_folders)}"]
           end
           if folder.num_files > 0
             info += ["#{_('%d file', folder.num_files)}"]
           end

           if folder.total_size > 0
             info += ["#{number_to_human_size(folder.total_size)}"]
           end

           if info.size == 0
             info += [_("Empty")]
           end
        %>
       <%= info.join(', ') %>
      <% else %>
      &nbsp;
      <% end %>
      </small><br />
  <% if !folder.new_record? && (@up.nil? || @up == false) %>
  <%= link_to _('Edit'), "/project_files/edit_folder/#{folder.id}" %>
  | <%= link_to_function _('Delete'), "remove_file('folder', #{folder.id}, '#{_("Are you sure?")}')" %>
<% else %>
<span>&nbsp;</span>
<% end %>
