
<!--[form:project_files]-->
  <p><label for="project_files_project_id">Project</label><%= select 'project_files', 'project_id', User.find(session[:user].id).projects.find(:all, :order => 'name', :conditions => ["completed_at IS NULL"]).collect {|c| [ c.name, c.id ]}, {:selected => @project_files.project_id} %></p>
<p><label for="project_files_name">Name</label><%= text_field 'project_files', 'name'  %></p>

<br>
<!--[eoform:project_files]-->

