<fieldset id="new_file">
<legend><%=_ 'Upload New File' %></legend>

<% form_for(:file, :url => {:action => 'upload' },
     :html => {:multipart => "true", :target => 'up_frame'} ) do |f|
 %>
  <%= render_partial "form" %>
  <%= submit_tag _("Upload"), :class => 'nolabel' %>
<% end %>
<iframe id="up_frame" name="up_frame" style="width:1px;height:1px;border:0;"></iframe>
</fieldset>
