<% @page_title = "Folder : #{@foler.name} - #{$CONFIG[:productName]}" %>

<%= form_tag({:action => 'update_folder', :id => @folder }, :id => "edit_file_form", :class => "form-horizontal") do  %>
  <fieldset id="edit_folder">
    <legend><%=_ 'Edit Folder' %></legend>

    <%= render :partial => "form_folder" %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="reset" class="btn" onclick="jQuery('#inline_form').hide();">Cancel</button>
    </div>
  </fieldset>
<% end %>

