<% @page_title = "Files - #{$CONFIG[:productName]}" %>

<table width="100%">
  <tr>
    <td align=left class="page_header">
      <div style="float:left;"><%=_ 'Files' %> - <%= @current_folder.full_path %></div>
    </td>
  </tr>
  </tr>
  <tr>
    <td id="files">
      <% for folder in @project_folders %>
        <%= render :partial => 'folder_cell', :locals => {:folder => folder } %>
      <% end %>
      <div id="dir_sep" style="display:none; float:left;">&nbsp;</div>
      <% if @project_files %>
        <% for project_files in @project_files %>
          <%= render :partial => 'file_cell', :locals => {:project_files => project_files}%>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

