<fieldset>
<legend>New Project File</legend>

<%= start_form_tag({ :action => 'upload'}, { :multipart => "true" }) %>
  <%= render_partial "form" %>
  <%= submit_tag "Upload", :class => 'nolabel' %>
<%= end_form_tag %>

</fieldset>
