<% @page_title = "New Folder - #{$CONFIG[:productName]}" %>

<%= form_tag({:action => 'create_folder' }, :id => "file_upload_form", :class => "form-horizontal") do %>
  <fieldset id="new_folder">
    <legend><%=_ 'Create New Folder' %></legend>

    <%= render :partial => "form_folder" %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="reset" class="btn" onclick="jQuery('#inline_form').hide();">Cancel</button>
    </div>

  </fieldset>
<% end %>

