@import "variables";

/*

Historic styling waiting for restyling.

*/

/* Global */

#content {
  margin-top: 10px;
}

span {
  &.clear-both {
    display: block;
    clear: both;
  }
  &.divider {
    display: block;
    margin: 6px 0;
    width: auto;
    clear: both;
    /**/
    border-bottom: 1px solid #DDDDDD;
  }

}

.task-row:hover, .hoverrow:hover, .scheduleDay:hover, .scheduleToday:hover, .scheduleDue:hover {
  background-color: #e0e0ff !IMPORTANT;
}

.page_header {
  -moz-border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  padding: 8px;
  padding-right: 0px;
  padding-bottom: 0.15em;
  letter-spacing: 0.15em;
  padding-top: 0.29em;
  background-image: image-url('header_bkg.gif');
  background-repeat: repeat-x;
  margin-bottom: 5px;
  text-align: left;
}

div.page_header a {
  padding-top: 0.1em;
  float: right;
}

.page_header a {
  font-size: 11px;
  letter-spacing: 0em;
  text-transform: capitalize;
  padding-right: 5px;
}

.pages {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.menu a {
  color: #000000;
}

.task_done {
  color: #a6a6a6;
  background-color: #fbfbfb;
  font-size: 10px;
}

.optional {
  color: #a6a6a6;
  font-style: italic;
  font-size: 80%;
}

.help {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  margin-left: 1em;
  margin-right: 1em;
  a {
    color: #436976;
    font-size: 12px;
    font-weight: bold;
  }

}

/* --- */

#loading {
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 20px;
  color: white;
  padding: 6px;
  display: none;
}

.otheruser {
  color: $textColor;
}

#calendar {
  margin-top: 12px;
}

.box td {
  padding-left: 5px;
  padding-right: 5px;
}

.separator {
  color: #BBBBBB;
}

.contact {
  color: #CCCCCC;
  font-size: 9px;
  padding-top: 1em;
  padding-left: 0.3em;
  a {
    color: #CCCCCC;
    font-size: 9px;
    font-weight: bold;
  }

}

.fieldWithErrors {
  input, textarea, select {
    background-color: red;
    border: 2px solid red;
  }

}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 1em;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: $textColor;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }

}

.tag {
  padding-bottom: 0.5em;
  a {
    font-weight: normal;
  }
  .counts {
    font-size: 75%;
  }
  .links {
    float: right;
    font-size: 75%;
  }

}

.tag_active {
  font-size: 13px;
  padding-right: 0.3em;
  a {
  }

}

.description {
  color: #5e6b71;
  font-size: 10px;
}

a.description {
  color: #5e6b71;
  font-weight: normal;
}

/* -------------------- */

li.help {
  font-size: 10px;
  color: #a6a6a6;
  background-color: #fbfbfb;
}

.select_heading {
  color: #566CA5;
  font-weight: bold;
}

.select_default {
  color: #FFC266;
  font-weight: bold;
}

.select_subitem {
  font-style: italic;
}

#task_page_header a {
  padding-right: 0.4em;
}

#recent_activities_page_header a {
  padding-right: 0.2em;
}

.file_cell-info {
  background-color: #e9e9e9;
  color: #566ca5;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.folder_cell-info {
  background-color: #E7E0C4;
  color: #566ca5;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.folder-active {
  background-color: #fff2d4 !IMPORTANT;
}

.file_cell {
  border: 1px solid #cfcfcf;
  float: left;
  margin: 1em 0.5em 0em 0.5em;
  text-align: center;
  width: 200px;
  background: #fafafa;
  &:hover {
    border: 1px solid black;
  }

}

.file_cell_img {
  display: table-cell;
  padding-top: 0.5em;
  height: 145px;
  width: 175px;
  text-align: center;
  vertical-align: middle;
  padding-left: 14px;
}

.file_cell_icon {
  display: table-cell;
  padding-top: 0.5em;
  height: 145px;
  width: 175px;
  text-align: center;
  vertical-align: middle;
}

.group-active {
  padding-bottom: 24px;
  border-left: 3px solid #FF9900;
}

#print_title {
  display: none;
}

.override_filter {
  background-color: #ececec;
  a, small, .description {
    color: #a6a6a6;
  }

}

.waiting_deferred {
  a, small {
    color: #a6a6a6;
  }

}

.notify-user {
  margin: 0 0.5em 0 100px;
  padding: 2px;
  font-size: 12px;
  font-weight: normal;
  color: $textColor;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #FAFAFA;
}

textarea.small {
  font-size: 12px;
  width: 145px;
}

.user-block {
  margin: 1em 1em 1em 0;
  padding-bottom: 1em;
}

.user-heading {
  clear: both;
  padding-top: 1em;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.user-avatar {
  border: 2px solid #ddd;
  position: absolute;
  margin-right: 1em;
  top: 4px;
}

.user-name {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: $textColor;
  bottom: 0;
  left: 60px;
}

.user-action {
  position: absolute;
  right: 0;
  bottom: 0;
}

.information-block {
  clear: both;
}

.information-header {
  float: left;
  clear: both;
  width: 8em;
  text-align: right;
  padding-right: 0.5em;
  color: #777;
}

.information-value {
  overflow: auto;
}

.client-block {
  margin: 1em;
  padding-bottom: 2em;
}

.client-heading {
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 2px dotted #FFC266;
  position: relative;
  height: 18px;
  font-size: 16px;
  font-weight: bold;
}

/*  User list */

ul.clients {
  -moz-padding-start: 0;
  ul {
    -moz-padding-start: 0;
    margin-left: 10px;
  }
  a {
    color: black;
  }
  li {
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 10px;
    li {
      font-size: 0.8em;
      margin-top: 0px;
      line-height: 24px;
    }

  }
  img {
    vertical-align: text-bottom;
  }

}

#permission_list tbody tr td img {
  /* centre the image */
  display: block;
  margin: 0 auto;
  float: none;
}

/* ------------------- */

.delete {
  color: #ff6666;
}


/* tag cloud */

.cloud {
  .size1 {
    font-size: 90%;
    color: #bbb;
  }
  .size2 {
    font-size: 100%;
    color: #888;
  }
  .size3 {
    font-size: 115%;
    color: #555;
  }
  .size4 {
    font-size: 125%;
    color: $textColor;
  }
  .size5 {
    font-size: 150%;
    color: black;
  }

}


#install {
  margin: 0 auto;
  text-align: center;
  width: 640px;
  select {
    width: auto;
  }

}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.ui-menu {
  font-size: 10px;
  hr {
    float: left;
    width: 100%;
  }

}

tr.jqgroup td {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 3px;
  padding-top: 12px;
}

select#chngroup {
  margin-left: 5px;
}

.ui-jqgrid tr.jqgrow td .bold {
  font-weight: bold;
}


// The following lines should be merged into the rest of the document.

@media print {
  #menu, #tabmenu, #news, #help, #flash, #side_panel, #tasks_filter, #tags, #task_header, .work_icon, .avatar {
    display: none;
  }

}
  
@media print {
  .page_header, .contact, #reports_config {
    display: none;
  }

}

/* email address attach styles */
#email_address_attach {
  h1, h2 {
    text-align: center;
  }
  form {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  input#email_attach_user_name {
    height: 20px;
  }

}
