@import "variables";

/*

Historic styling waiting for restyling.

*/

/* Global */

#content {
  margin-top: 10px;
}

span {
  &.clear-both {
    display: block;
    clear: both;
  }
  &.divider {
    display: block;
    margin: 6px 0;
    width: auto;
    clear: both;
    /**/
    border-bottom: 1px solid #DDDDDD;
  }

}

.task-row:hover, .hoverrow:hover, .scheduleDay:hover, .scheduleToday:hover, .scheduleDue:hover {
  background-color: #e0e0ff !IMPORTANT;
}

.page_header {
  font-family: $headingFontFamily;
  border: 1px solid #f3f3f3;
  padding: 0.2em 0 0.3em 1em;
  margin-bottom: 5px;
  letter-spacing: 0.15em;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: whiteSmoke;
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -ms-linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
}

.menu a {
  color: #000000;
}

.task_done {
  color: #a6a6a6;
  background-color: #fbfbfb;
  font-size: 10px;
}

.optional {
  color: #a6a6a6;
  font-style: italic;
  font-size: 80%;
}

.help {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  margin-left: 1em;
  margin-right: 1em;
  a {
    color: #436976;
    font-size: 12px;
    font-weight: bold;
  }

}

/* --- */

#loading {
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 20px;
  color: white;
  padding: 6px;
  display: none;
}

.otheruser {
  color: $textColor;
}

#calendar {
  margin-top: 12px;
}

.box td {
  padding-left: 5px;
  padding-right: 5px;
}

.separator {
  color: #BBBBBB;
}

.contact {
  color: #CCCCCC;
  font-size: 9px;
  padding-top: 1em;
  padding-left: 0.3em;
  a {
    color: #CCCCCC;
    font-size: 9px;
    font-weight: bold;
  }

}

.fieldWithErrors {
  input, textarea, select {
    background-color: red;
    border: 2px solid red;
  }

}

#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 1em;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: $textColor;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }

}

.description {
  color: #5e6b71;
  font-size: 10px;
}

a.description {
  color: #5e6b71;
  font-weight: normal;
}

/* -------------------- */

li.help {
  font-size: 10px;
  color: #a6a6a6;
  background-color: #fbfbfb;
}

.select_heading {
  color: #566CA5;
  font-weight: bold;
}

.select_default {
  color: #FFC266;
  font-weight: bold;
}

.select_subitem {
  font-style: italic;
}

.override_filter {
  background-color: #ececec;
  a, small, .description {
    color: #a6a6a6;
  }

}

.waiting_deferred {
  a, small {
    color: #a6a6a6;
  }

}

textarea.small {
  font-size: 12px;
  width: 145px;
}

/*  User list */

ul.clients {
  -moz-padding-start: 0;
  ul {
    -moz-padding-start: 0;
    margin-left: 10px;
  }
  a {
    color: black;
  }
  li {
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 10px;
    li {
      font-size: 0.8em;
      margin-top: 0px;
      line-height: 24px;
    }

  }
  img {
    vertical-align: text-bottom;
  }

}

#permission_list tbody tr td img {
  /* centre the image */
  display: block;
  margin: 0 auto;
  float: none;
}

/* ------------------- */

.delete {
  color: #ff6666;
}


/* tag cloud */

.cloud {
  .size1 {
    font-size: 90%;
    color: #bbb;
  }
  .size2 {
    font-size: 100%;
    color: #888;
  }
  .size3 {
    font-size: 115%;
    color: #555;
  }
  .size4 {
    font-size: 125%;
    color: $textColor;
  }
  .size5 {
    font-size: 150%;
    color: black;
  }

}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.ui-menu {
  hr {
    float: left;
    width: 100%;
  }

}

tr.jqgroup td {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 3px;
  padding-top: 12px;
}

// The following lines should be merged into the rest of the document.

@media print {
  #menu, #tabmenu, #news, #help, #flash, #tasks_filter, #tags, #task_header, .work_icon, .avatar {
    display: none;
  }

}

@media print {
  .page_header, .contact, #reports_config {
    display: none;
  }

}

