/*

 Historic styling waiting for restyling.

*/

body {
  background-color: #FFFFFF;
  color: #333333;
  background-image: image-url('bg_grad.jpg');
  background-repeat: repeat-x;
  border: none;
  margin-top: 0;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 12px; }

/* Global */

.left {
  float: left; }

.right {
  float: right; }

span {
  &.clear-both {
    display: block;
    clear: both; }
  &.divider {
    display: block;
    margin: 6px 0;
    width: auto;
    clear: both;
    /**/
    border-bottom: 1px solid #DDDDDD; } }

.close-cross {
  width: auto;
  float: right;
  margin: 0 0 0 0;
  background-position: top right;
  text-align: right; }

small {
  color: gray; }

textarea {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

dl {}

dt {
  font-size: 11px;
  color: #999999;
  display: inline;
  clear: both;
  float: left;
  width: 100px; }

dd {
  display: inline;
  float: left; }

/*-----------*/

a {
  color: #566ca5;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline; } }

.task-row:hover, .milestone:hover, .hoverrow:hover, .scheduleDay:hover, .scheduleToday:hover, .scheduleDue:hover {
  background-color: #e0e0ff !IMPORTANT; }

.amenu {
  background-color: #fcfcfc; }

.highlight {
  background-color: #fcfc99; }

.task-highlight {
  background-color: #e0e0ff !IMPORTANT; }

.projects {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  padding-right: 0.5em; }

.milestones {
  color: #CCCCCC;
  font-size: 10px;
  font-weight: bold;
  padding-left: 2.5em;
  padding-right: 1.5em; }

.project_customer {
  padding-top: 0.3em;
  color: #423f54;
  font-size: 13px;
  a {
    color: #423F54;
    font-size: 13px;
    font-weight: bold; } }

.project_completed {
  padding-top: 1.5em;
  font-size: smaller; }

.milestone_completed {
  padding-top: 0.5em;
  font-size: smaller; }

.views_item {
  font-size: 12px;
  font-weight: bold;
  padding-left: 0.5em;
  text-align: left; }

/* Top menu bar */

#page_header {
  width: 100%;
  background-color: white; }

#menu_logo {
  display: inline-block; }

#menu_info {
  width: auto;
  display: inline-block;
  text-align: right;
  padding-left: 30px;
  vertical-align: middle; }

#menu_login {
  float: right;
  display: inline-block;
  text-align: right;
  padding: 5px; }

#side_panel {
  padding-left: 10px;
  text-align: left;
  max-width: 170px;
  min-width: 170px;
  width: 170px;
  vertical-align: top;
  .section {
    padding-bottom: 15px; }
  ul {
    list-style-type: none;
    padding-bottom: 1px;
    margin: 0;
    padding: 0; }
  li {
    margin-bottom: 3px;
    display: block; }
  .section ul li .small {
    font-size: 75%; } }

.section li a {
  color: black; }

.task_filters {
  .unread {
    font-weight: bold; }
  a {
    color: black; } }

.page_header {
  -moz-border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  padding: 8px;
  padding-right: 0px;
  padding-bottom: 0.15em;
  letter-spacing: 0.15em;
  padding-top: 0.29em;
  background-image: image-url('header_bkg.gif');
  background-repeat: repeat-x;
  margin-bottom: 5px;
  text-align: left; }

.field_header {
  color: #989898;
  font-size: 11px;
  padding-right: 0px;
  padding-bottom: 0.1em;
  padding-top: 0.2em; }

div.page_header a {
  padding-top: 0.1em;
  float: right; }

.page_header a {
  font-size: 11px;
  letter-spacing: 0em;
  text-transform: capitalize;
  padding-right: 5px; }

div.page_header span#recent_filters_button {
  cursor: pointer;
  padding-top: 0.1em;
  float: right;
  padding-right: 3px;
  height: 16px; }

.tasks_updated_by {
  color: #666666;
  padding-left: 1em;
  padding-bottom: 0.27em; }

.pages {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.menu a {
  color: #000000; }

.content {
  background-color: #ffffff; }

.task {
  font-size: 13px; }

.task-name {
  float: left; }

.task input, .task_done input, .task_active input {
  margin: 0 0 1px 0px; }

.task {
  &.unread {
    .task-name a {
      font-weight: bold; }
    font-weight: bold; }
  &.unassigned {
    font-weight: bold; } }

.unread_icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: image-url('unread.png');
  background-position: 0 12px; // disabled state
  background-repeat: no-repeat; }

.unread .unread_icon {
	background-position: 0 0;}
	
#task_list tr.unread .unread_icon {
  background-position: 0 0; }
  
#task_list tr.unread td {
	font-weight: bold;}

#task_list tr.jqgroup td {
	font-weight: bold;}

.unread_icon span {
  display: none; }

label .unread_icon {
  float: right; }

.due_today {
  color: blue; }

.due_future {
  color: black; }

.due_past {
  color: red; }

.closed {}

.task-icon img {
  height: 16px;
  width: 16px;
  float: left;
  padding-top: 1px;
  padding-right: 2px;
  padding-left: 2px; }

.invalid {
  text-decoration: line-through; }

a.invalid:hover {
  text-decoration: line-through underline; }

fieldset {
  background: image-url("comment_back_public.png") repeat-y;
  border-color: #F3F3F3;
  padding: 3px;
  margin-bottom: 10px; }

legend {
  font-size: 13px;
  color: #423f54; }

img {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 0; }

input.checkbox {
  vertical-align: middle;
  margin-top: 2px; }

.task_done {
  color: #a6a6a6;
  background-color: #fbfbfb;
  font-size: 10px; }

.optional {
  color: #a6a6a6;
  font-style: italic;
  font-size: 80%; }

.collapse-indicator-open {
  width: 13px;
  height: 13px;
  background: image-url('expand-indicator.png') 0px 0px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  float: left;
  padding-right: 2px;
  margin-top: 1px; }

.collapse-indicator-closed {
  width: 13px;
  height: 13px;
  background: image-url('expand-indicator.png') 0px -13px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  float: left;
  padding-right: 2px;
  margin-top: 1px; }

.small-collapse-indicator-open {
  height: 13px;
  background: image-url('expand-indicator-small.png') 10px 0px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  float: left;
  padding-right: 2px;
  padding-left: 20px;
  margin-top: 1px; }

.small-collapse-indicator-closed {
  height: 13px;
  background: image-url('expand-indicator-small.png') 10px -13px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  float: left;
  padding-right: 2px;
  padding-left: 20px;
  margin-top: 1px; }

.help {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  margin-left: 1em;
  margin-right: 1em;
  a {
    color: #436976;
    font-size: 12px;
    font-weight: bold; } }

/* --- */

.ajax {}

#loading {
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 20px;
  color: white;
  padding: 6px;
  display: none; }

input:focus, textarea:focus {
  border: 1px solid #FC0; }

input, textarea {
  border: 1px solid #dcdcdc; }

fieldset {
  label {
    float: left;
    clear: both;
    text-align: left;
    width: auto;
    margin-right: 0.5em;
    margin-top: 0.2em;
    font-weight: normal;
    cursor: pointer;
    font-size: 11px;
    color: #999999;
    &.ignore {
      float: none;
      clear: none;
      text-align: left;
      width: auto;
      margin-right: 0;
      margin-top: 0;
      color: #151515; } }
  div#target_date {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.2em; } }

/* Task Sidebar styling -cll 27/8 */

#task_sidebar {
  .task_description {
    padding: 0.5em;
    margin: 0; }
  .fill {
    margin-bottom: 0.4em;
    margin-right: 0;
    margin-top: 0;
    width: 99%; }
  input {
    width: 145px; }
  label {
    margin-left: 0px; } }

textarea {
  &#task_description {
    margin-bottom: 0.8em;
    min-height: 100px;
    width: 100%; }
  &#comment {
    min-height: 100px;
    width: 100%;
    font-size: 12px; }
  &#task_name {
    min-height: 30px;
    font-size: 16px;
    width: 100%; } }

#task_sidebar {
  textarea#task_notify_emails, select {
    margin-left: 0px; } }

#task_attr label, #task_notify label, #task_dependencies label, #task_attachments label, #task_project_selection label, #task_resources label, #task_information label, #reports_filter label, #reports_config label, #taskform label {
  width: 105px;
  padding: 3px 0;
  text-align: right; }

fieldset {
  &.sidebar {
    label {
      width: 95px;
      padding: 3px 0; }
    input.text {
      float: right;
      width: 150px; }
    textarea {
      height: 40px;
      float: right;
      margin-right: 0.1em;
      width: 149px; } }
  input {
    float: left;
    clear: right;
    text-align: left;
    margin-top: 0.5em;
    margin-right: 0.1em;
    margin-bottom: 0.2em; }
  &#task_information input {
    float: none;
    &.button {
      float: right; } }
  img {
    float: left;
    clear: right;
    margin: 0 0.5em 0 0;
    padding: 2px;
    border-top: 1px solid #FAFAFA;
    &.centered {
      float: none;
      clear: both; } }
  input {
    &.button {
      border: none;
      margin-right: 0.5em;
      margin-bottom: 0.2em; }
    &.checkbox {
      float: left;
      clear: right;
      text-align: left;
      margin-right: 0.5em;
      margin-bottom: 0.2em;
      padding-left: 0;
      margin-left: 0; } } }

#task_dependencies div div {
  width: 132px;
  margin: 2px 0 0 0;
  min-height: 25px; }

.dependency_no, .resource_no {
  clear: both;
  margin: 0.3em 0.5em 0 100px; }

#task_attachments {
  em {
    font-size: 90%;
    color: #888888;
    font-style: normal;
    widows: 1; }
  img {
    float: none; } }

fieldset {
  textarea {
    float: left;
    clear: right;
    text-align: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em; }
  select {
    float: left;
    clear: right;
    text-align: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    width: 9.9em;
    &.time {
      width: 67px; } }
  &#task_information select {
    float: none; }
  input.file {
    clear: right;
    text-align: left;
    font-size: 90%;
    width: 90%;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0; }
  div.buttons {
    padding-top: 0.5em; } }

input.nolabel {
  &:hover {
    background-color: #ff9900; }
  background-color: #ffd597;
  border-color: #ff9900;
  border-style: solid;
  border-width: 1px;
  color: #333;
  cursor: pointer;
  overflow: visible;
  font-size: 0.95em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 2px 4px; }

fieldset form br {
  clear: both; }

input.button {
  border: none; }

.otheruser {
  color: #333333; }

.due_distant {
  color: #BBBBBB; }

.due_soon {
  color: #22dd22; }

.due_tomorrow {
  color: #FF8800; }

.due {
  color: #FF0000; }

.due_overdue {
  color: #FC5C04; }

.overtime {
  background-color: #FFCC00; }

.calendar {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 9px; }

#calendar {
  margin-top: 12px; }

.day {
  font-size: 9px; }

#schedule {
  padding: 0;
  margin: 0;
  border-collapse: collapse; }

.scheduleEmpty {
  overflow: hidden;
  height: 11px;
  margin-bottom: 2px; }

.scheduleTask {
  background-color: #ececec;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.scheduleTaskComplete {
  background-color: #b0d295;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.scheduleTaskOverdue {
  background-color: #f2ab99;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.scheduleMilestone {
  background-color: #ececec;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.scheduleMilestoneOverdue {
  background-color: #f2ab99;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.scheduleMilestoneComplete {
  background-color: #b0d295;
  overflow: hidden;
  height: 13px;
  white-space: nowrap;
  padding-left: 2px;
  padding-right: 2px; }

.weekend {
  background-color: #e5eaef; }

.monthName {
  font-size: 9pt;
  height: 1em; }

.dayName {
  font-size: smaller;
  height: 1em;
  border: 1px solid #CCCCCC; }

.scheduleDayHeader {
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #e5eaef; }

.scheduleDay {
  border: 1px solid #CCCCCC;
  font-size: 9px;
  width: 130px;
  vertical-align: top;
  height: 80px;
  min-height: 60px; }

.scheduleDue {
  font-size: 9px;
  background-color: #FFB200;
  vertical-align: top;
  height: 80px;
  min-height: 60px; }

.scheduleDueToday {
  font-size: 9px;
  background-color: #FFFF00;
  vertical-align: top;
  height: 80px;
  min-height: 60px; }

.scheduleToday {
  border: 1px solid #CCCCCC;
  font-size: 9px;
  vertical-align: top;
  height: 80px;
  min-height: 60px;
  div.scheduleDayHeader {
    background-color: #8CACBB;
    font-weight: bold; } }

.box td {
  padding-left: 5px;
  padding-right: 5px; }

.milestonebar {
  background-color: #22dd22; }

.milestone {
  padding-left: 0.5em;
  padding-right: 0.5em; }

.task_milestone {
  color: #888888; }

.separator {
  color: #BBBBBB; }

th {
  color: #423f54;
  font-weight: bold;
  background-color: #e5eaef; }

pre {
  padding: 1em;
  font-size: 11px;
  &.auto_generated {} }

.contact {
  color: #CCCCCC;
  font-size: 9px;
  padding-top: 1em;
  padding-left: 0.3em;
  a {
    color: #CCCCCC;
    font-size: 9px;
    font-weight: bold; } }

.fieldWithErrors {
  input, textarea, select {
    background-color: red;
    border: 2px solid red; } }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 1em;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#main-table {
  margin-bottom: 30px;
  background-color: white;
  width: 100%; }

#main_col {
  width: 85%; }

#content {
  margin-top: 10px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block; }
  li {
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    display: block;
    position: relative;
    font-size: 10px; } }

.todo-container {
  padding: 0;
  font-size: 10px;
  li {
    padding: 0;
    font-size: 10px; }
  ul {
    margin: 0;
    padding: 0; }
  li {
    list-style: none; } }

#new-todos {
  padding-left: 1em;
  padding-top: 0.5em; }

.todo-active {
  cursor: move; }

.todo-completed {
  color: #a6a6a6;
  text-decoration: line-through; }

#content {
  &.empty {
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 5px;
    border-left: none;
    list-style: none; }
  li {
    &.noborder {
      border-left: none;
      list-style: none;
      padding-left: 1em;
      margin-left: 2px;
      padding-right: 16px;
      clear: both;
      display: block;
      position: relative; }
    &.ajax {
      border-left: none; } } }

.tag {
  padding-bottom: 0.5em;
  a {
    font-weight: normal; }
  .counts {
    font-size: 75%; }
  .links {
    float: right;
    font-size: 75%; } }

.tag_active {
  font-size: 13px;
  padding-right: 0.3em;
  a {} }

#view_tags_auto_complete ul {
  padding: 0;
  margin: 0;
  li {
    border-left: none;
    margin-left: 1px;
    padding: 0px;
    &.selected {
      background-color: #ffb; } } }

#dependencies_input_auto_complete ul {
  border: 1px solid #ccc;
  width: 354px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  li {
    border-left: none;
    margin: 0 2px 0 2px;
    padding: 0px;
    width: 350px;
    &.selected {
      background-color: #ffb; } } }

#notification-autocomplete ul, #invite-autocomplete ul {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  width: 189px;
  li {
    border-left: none;
    margin: 0 2px 0 2px;
    margin: 0;
    width: 185px;
    overflow: hidden;
    &.selected {
      background-color: #ffb; } } }

div.auto_complete {
  position: absolute;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0px;
  padding: 0px;
  z-index: 100;
  ul {
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li {
      margin: 0;
      padding: 3px;
      &.selected {
        background-color: #ffb; } }
    strong.highlight {
      color: #800;
      margin: 0;
      padding: 0; } } }

#task_set_tags_auto_complete ul, #report_tags_auto_complete ul {
  padding: 0;
  margin: 0;
  li {
    border-left: none;
    margin-left: 1px;
    padding: 0px;
    &.selected {
      background-color: #ffb; } } }

#content .tag_header {
  border-left: solid 4px #8cacbb;
  margin-bottom: 2px;
  font-size: 13px;
  color: #47525a;
  font-weight: bold;
  padding-left: 4px; }

.description {
  color: #5e6b71;
  font-size: 10px; }

a.description {
  color: #5e6b71;
  font-weight: normal; }

#message {
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #CCCCCC;
  padding: 0.1em; }

#content div {
  &.task {
    margin-left: 8px;
    border-left: solid 4px #b0d295;
    clear: both;
    font-size: 11px;
    min-height: 2.3em;
    margin-bottom: 2px;
    background: image-url('pri_normal_bkg.png') repeat-y; }
  &.task_done {
    border-left: solid 4px #EEEEEE; }
  &.task_active_others {
    color: #000000;
    background-color: #ecfeec; }
  &.task_active {
    color: #000000;
    background-color: #ececfe; }
  &.task_paused {
    color: #000000;
    background-color: #F3F3F3; }
  &.task-row {
    min-height: 2.3em; } }

.handle, .widget_draggable {
  cursor: move; }

.log_header {
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-top: 8px;
  border-bottom: 1px solid #e8e8e8; }

.widget_sub_header {
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8; }

.widget_sub_heading {
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 11px;
  font-weight: bold; }

.paging_header {
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-top: 8px; }

/* top menu */

#tabmenu {
  position: relative;
  width: 100%;
  height: 23px;
  border-bottom: 3px solid white;
  background-image: image-url('menuback.gif');
  background-repeat: repeat-x;
  z-index: 2;
  a:hover {
    text-decoration: none; }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    display: block; }
  input {
    margin: 0;
    padding: 0;
    height: 11px; }
  li {
    /*float the main list items*/
    margin: 0;
    float: left;
    width: auto;
    display: block;
    padding-right: 0px;
    a {
      /*for all links in the list*/
      color: black;
      display: block;
      height: 16px;
      padding: 4px 6px 3px 6px;
      float: left; } }
  #search_menu {
    /*for all links in the list*/
    color: black;
    display: block;
    height: 16px;
    padding: 4px 6px 3px 6px;
    float: left;
    float: right; }
  li {
    &.right {
      float: right; }
    ul {
      display: none;
      position: absolute;
      top: 15px;
      margin-top: 8px;
      margin-left: -1px;
      width: auto;
      clear: left;
      background-color: #fcfcfc; }
    &.active {
      a {
        color: #B86D32;
        background: image-url('active_menu.png'); }
      li a {
        border: 0; } }
    ul {
      li {
        clear: both;
        float: none;
        width: auto;
        display: block; }
      a {
        background: #B86D32;
        font-size: 11px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0;
        border: 0;
        color: white;
        width: 100%;
        display: block;
        z-index: 6000; } }
    a:hover {
      background: #B86D32;
      color: white; }
    &:hover {
      a {
        background: #B86D32;
        color: white; }
      ul {
        display: block; } }
    ul li a:hover {
      text-decoration: underline; } } }

#preference ul {
  width: 100px;
  right: 12px;
}

/* ------------------- */

#filter, #group_by, #filter_user, #filter_project, #filter_status, #filter_date, #sort, #filter_type, #filter_severity, #filter_priority, #colors, #icons, #more-filters select {
  font-size: 10px; }

#task {
  position: relative;
  width: 100%;
  margin-top: 10px; }

#task_description {
  font-size: 12px; }

#task_comment {
  font-size: 11px; }

#taskform .watcher {
  padding-bottom: 3px;
  padding-top: 2px; }

.will_notify {
  background-color: #fff5cc; }

#taskform {
  .watcher label {
    margin-top: 0px;
    padding: 0px;
    margin-right: 7px; }
  #task_customers {
    clear: both;
    .customer {
      clear: both; } }
  .watcher .removeLink, #task_customers .removeLink {
    float: right; } }

#customer_response .removeLink {
  float: right; }

#taskform .watcher {
  .icon {
    background-color: white;
    background-image: image-url('unread.png');
    background-position: 0 150%;
    background-repeat: no-repeat;
    float: right;
    font-size: 0px;
    padding-left: 5px;
    height: 16px;
    width: 16px; }
  &.is_assigned .icon {
    background-image: image-url('user.png'); } }

#notify_users {
  clear: both;
  font-size: 0.9em;
  color: #999999;
  background-color: #fff5cc; }

#taskform #task_addcomment {
  margin-left: 328px;
  width: auto;
  position: relative;
  clear: both; }

#task_sidebar {
  position: absolute;
  width: 312px; }

fieldset#task_attachments {
  clear: both;
  padding: 0px;
  margin-bottom: 10px; }

/* Task edit add comment styling */

#task_attached_files {
  width: 100%;
  padding: 10px 0 0 0; }

fieldset#task_information {
  margin-bottom: 20px;
  padding-top: 0px;
  input[type="submit"] {
    float: left;
    clear: both;
    margin-top: 17px; }
  label {
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    text-align: left;
    width: 100%; }
  input {
    margin: 0;
    padding: 0; } }

div {
  &#accessLevel_container {
    float: left;
    margin-left: 40px;
    margin-top: 17px;
    margin-right: 30px;
    div {
      background-image: image-url('toggle_public.png');
      width: 134px;
      height: 21px;
      &.private {
        background-image: image-url('toggle_private.png'); } }
    select {
      visibility: hidden;
      display: none; } }
  &#upload_container {
    width: 200px;
    float: left; }
  &#worktime_container {
    float: right;
    input {
      max-width: 120px; } } }

select#custom_attribute_1 {
  margin: 6px 0 0 0; }

#worklog_extra {
  display: none; }

#task_time_links {
  float: right;
  padding-top: 16px; }

/* -------------------- */

#task_history {
  .log_entry {
    border-bottom-style: solid;
    margin-left: 0;
    margin-bottom: 12px;
    margin-right: 0;
    margin-top: 0;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    display: block;
    width: 100%;
    position: relative;
    clear: both;
    &.access_level_2 {
      background-image: image-url("comment_back_private.png");
      background-repeat: repeat-y;
      .log_timestamp {
        background-image: image-url("padlock.png");
        background-repeat: no-repeat;
        background-position: 25px 45px; } }
    &.access_level_1 {
      background-image: image-url("comment_back_public.png");
      background-repeat: repeat-y; } }
  padding-top: 20px;
  margin-left: 0;
  padding-left: 0;
  h4 {
    margin: 0; }
  .scm_revision {
    color: #666; }
  h4 {
    margin: 0; }
  .log_date {
    font-weight: normal;
    padding-left: 0px;
    clear: both;
    display: block;
    color: #666; }
  .log_timestamp {
    position: absolute;
    color: #999999;
    padding: 6px 6px;
    font-size: 10px;
    min-height: 65px;
    width: 84px; }
  .log_time {
    display: block;
    font-size: 10px; } }

#taskform #task_history .log_worktime {
  display: block;
  font-size: 10px; }

#task_history {
  .log_name, .log_comment {
    margin-left: 100px; }
  .log_recipients {
    margin-left: 100px;
    color: grey;
    font-size: 0.8em; }
  ul.scm_files {
    margin-left: 100px;
    padding-left: 0;
    list-style: none;
    li {
      .state {
        font-weight: bold;
        color: #155; }
      .file {
        color: #666;
        font-size: 90%;
        margin-left: 10px; } } }
  .log_name {
    margin-bottom: 0;
    padding-top: 4px;
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100; }
  .log_comment {
    color: #444;
    padding-left: 0px;
    line-height: 1.6em;
    font-size: 1em; } }

/* -------------------- */

#snippet {
  position: relative;
  overflow: visible;
  text-indent: 0;
  float: right;
  ul {
    display: none;
    position: absolute;
    top: 20px;
    left: -238px;
    width: 250px; } }

/* -------------------- */

.prog-border {
  width: 115px;
  background: #fff;
  border: 1px solid silver;
  margin: 1px;
  padding: 0px; }

.prog-bar-high {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2ab99;
  float: left; }

.prog-bar-medium {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b0d295;
  float: left; }

.prog-bar-low {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e7e0c4;
  float: left; }

li.help {
  font-size: 10px;
  color: #a6a6a6;
  background-color: #fbfbfb; }

#page {
  padding-left: 0;
  list-style: disc;
  margin: 0; }

.task_info {
  font-size: 9px; }

#tutorial {
  .welcome {
    padding: 1em;
    margin: 1em;
    background-color: #fffed6;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    font-size: large;
    text-align: center; }
  a {
    text-decoration: underline; }
  .welcome a {
    font-size: small;
    text-decoration: underline; }
  .tutorial {
    padding: 1em;
    margin: 0.5em;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    font-size: larger; }
  .complete {
    color: #b0d295;
    border: none;
    background-color: #deffd6;
    a {
      color: #b0d295;
      border: none;
      background-color: #deffd6; } }
  .todo {
    color: #cccccc;
    background-color: #fcfcfc;
    border: none;
    a {
      color: #cccccc; } } }

#reports {
  .row_header {
    color: #000000;
    font-weight: bold; }
  .column_header {
    color: #000000;
    font-size: smaller;
    text-align: center; }
  .row_heading {
    color: #000000;
    font-weight: bold;
    padding-right: 0.5em;
    vertical-align: top; }
  .row_value {
    color: #000000;
    border-left: 1px solid #CCCCCC;
    text-align: right;
    vertical-align: top; }
  .audit, .task {
    text-align: left; }
  .even {
    background-color: #fff; }
  .odd {
    background-color: #f7f7f7; }
  .row_total {
    background-color: #fcfc99;
    border-left: 1px solid #CCCCCC;
    text-align: right;
    vertical-align: top; }
  .row_subtotal {
    background-color: #b0d295;
    border-left: 1px solid #CCCCCC;
    text-align: right;
    vertical-align: top; }
  .row_subtotal_heading {
    text-align: left;
    vertical-align: top; } }

#reports_config {
  float: left;
  margin-top: 0;
  width: 45%; }

#reports_params fieldset {
  margin-top: 0px; }

#reports_filter {
  float: right;
  width: 45%; }

#wiki-info {
  margin: 1em;
  padding: 1em;
  background-color: #fafafa;
  border: 1px solid #dcdcdc; }

#wiki {
  margin: 1em;
  padding: 1em;
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
  ul {
    list-style-type: disc;
    padding-left: 1.3em;
    margin-left: 1px;
    min-height: 1px;
    list-style-position: outside; }
  li {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    border-left: none;
    margin-left: 8px;
    padding-left: 4px;
    position: relative;
    margin-bottom: 2px; }
  ol {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    border-left: none;
    margin-left: 8px;
    padding-left: 4px;
    position: relative;
    margin-bottom: 2px;
    li {
      list-style-type: decimal;
      list-style-position: outside;
      list-style-image: none;
      border-left: none;
      margin-left: 8px;
      padding-left: 4px;
      position: relative;
      margin-bottom: 2px; } }
  pre {
    background-color: #eee;
    border: 1px dashed #FFC266; }
  .external a {
    text-decoration: underline;
    background: image-url('icon_world.gif') no-repeat 0% 0;
    padding: 0 0 0 16px; }
  .internal_missing a {
    color: #f00; }
  .description a {
    font-weight: bold; } }

#wiki-quickref p {
  margin: 0;
  padding: 0; }

.disclosure {
  background-image: image-url('expand-indicator.png');
  background-repeat: no-repeat;
  height: 13px;
  width: 13px;
  padding-left: 20px; }

.select_heading {
  color: #566CA5;
  font-weight: bold; }

.select_default {
  color: #FFC266;
  font-weight: bold; }

.select_item {}

.select_subitem {
  font-style: italic; }

#task_page_header a {
  padding-right: 0.4em; }

#recent_activities_page_header a {
  padding-right: 0.2em; }

.file_cell-info {
  background-color: #e9e9e9;
  color: #566ca5;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.folder_cell-info {
  background-color: #E7E0C4;
  color: #566ca5;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.folder-active {
  background-color: #fff2d4 !IMPORTANT; }

.file_cell {
  border: 1px solid #cfcfcf;
  float: left;
  margin: 1em 0.5em 0em 0.5em;
  text-align: center;
  width: 200px;
  height: 200px;
  background: #fafafa;
  &:hover {
    border: 1px solid black; } }

.file_cell_img {
  display: table-cell;
  padding-top: 0.5em;
  height: 145px;
  width: 175px;
  text-align: center;
  vertical-align: middle;
  padding-left: 14px; }

.file_cell_icon {
  display: table-cell;
  padding-top: 0.5em;
  height: 145px;
  width: 175px;
  text-align: center;
  vertical-align: middle; }

.group-active {
  padding-bottom: 24px;
  border-left: 3px solid #FF9900; }

#print_title {
  display: none; }

.override_filter {
  background-color: #ececec;
  a, small, .description {
    color: #a6a6a6; } }

.waiting_deferred {
  a, small {
    color: #a6a6a6; } }

.notify-user {
  margin: 0 0.5em 0 100px;
  padding: 2px;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #FAFAFA; }

textarea.small {
  font-size: 12px;
  width: 145px; }

.pagination {
  padding: 3px;
  margin: 3px;
  a {
    padding: 1px 4px 1px 4px;
    margin: 1px;
    border: 1px solid #b7b7b7;
    text-decoration: none;
    &:hover, &:active {
      border: 1px solid #FFC266;
      text-decoration: underline; } }
  span {
    &.current {
      padding: 1px 4px 1px 4px;
      margin: 1px;
      border: 1px solid #a9a9a9;
      font-weight: bold;
      background-color: #FFC266;
      color: #FFF; }
    &.disabled {
      padding: 1px 4px 1px 4px;
      margin: 1px;
      border: 1px solid #eee;
      color: #ddd; } } }

.wiki-search {
  font-weight: bold;
  padding-right: 0.4em;
  padding-left: 1em;
  width: 1%;
  text-align: right;
  vertical-align: top;
  font-size: 13px;
  border-right: 1px solid #ececec; }

.wiki-search-body {
  padding-left: 0.4em;
  vertical-align: top; }

.todo-status-link {
  background-color: #c1e6a3; }

.widget_title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  color: #423f54;
  padding-bottom: 0.17em;
  letter-spacing: 0.15em;
  padding-top: 0.29em;
  background-image: image-url('header_bkg.gif');
  background-repeat: repeat-x;
  padding-left: 0.2em; }

.widget_content {
  margin-right: 1em;
  z-index: 1; }

.widget {
  padding-bottom: 1em;
  z-index: 1;
  margin-right: 1em;
  .page_header {
    padding-right: 0; } }

.widget_title a {
  font-size: 11px;
  letter-spacing: 0em;
  text-transform: capitalize;
  padding-right: 1em; }

#widget_col_0, #widget_col_2 {
  padding-left: 1em; }

.panel-open {
  float: left;
  height: 13px;
  width: 13px;
  background: image-url('expand-indicator-small.png') 0px 0px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  padding-right: 2px;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 2px;
  cursor: pointer; }

.panel-collapsed {
  float: left;
  height: 13px;
  width: 13px;
  background: image-url('expand-indicator-small.png') 0px -13px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  padding-right: 2px;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 2px;
  cursor: pointer; }

a {
  &.widget-open {
    float: left;
    height: 13px;
    width: 13px;
    background: image-url('expand-indicator-small.png') 0px 0px no-repeat;
    color: #a6a6a6;
    font-size: 80%;
    padding-right: 2px;
    padding-left: 0px;
    margin-top: 1px; }
  &.widget-collapsed {
    float: left;
    height: 13px;
    width: 13px;
    background: image-url('expand-indicator-small.png') 0px -13px no-repeat;
    color: #a6a6a6;
    font-size: 80%;
    padding-right: 2px;
    padding-left: 0px;
    margin-top: 1px; } }

.widget-config {
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  color: #333;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 14px;
  label {
    padding-right: 0.3em;
    font-weight: bold; }
  font-size: 9px;
  select, input {
    font-size: 9px; } }

.widget {
  select, input {
    font-size: 9px; } }

.user-block {
  margin: 1em 1em 1em 0;
  padding-bottom: 1em; }

.user-heading {
  clear: both;
  padding-top: 1em;
  border-bottom: 1px solid #ccc;
  position: relative; }

.user-avatar {
  border: 2px solid #ddd;
  position: absolute;
  margin-right: 1em;
  top: 4px; }

.user-name {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  bottom: 0;
  left: 60px; }

.user-action {
  position: absolute;
  right: 0;
  bottom: 0; }

.information-block {
  clear: both; }

.information-header {
  float: left;
  clear: both;
  width: 8em;
  text-align: right;
  padding-right: 0.5em;
  color: #777; }

.information-value {
  overflow: auto; }

.client-block {
  margin: 1em;
  padding-bottom: 2em; }

.client-heading {
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 2px dotted #FFC266;
  position: relative;
  height: 18px;
  font-size: 16px;
  font-weight: bold; }

/*  User list */

ul.clients {
  -moz-padding-start: 0;
  ul {
    -moz-padding-start: 0;
    margin-left: 10px; }
  a {
    color: black; }
  li {
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 10px;
    li {
      font-size: 0.8em;
      margin-top: 0px;
      line-height: 24px; } }
  img {
    vertical-align: text-bottom; } }

#permission_list tbody tr td img {
  /* centre the image */
  display: block;
  margin: 0 auto;
  float: none; }

/* ------------------- */

.project-block {
  margin: 1em;
  padding-bottom: 1em; }

.project-heading {
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px dotted #FFC266;
  position: relative;
  height: 18px;
  font-size: 16px;
  font-weight: bold; }

.delete {
  color: #ff6666; }

input.scheduled {
  border: 1px solid #f00; }

.header-link {
  font-size: small; }

#wiki-toc {
  border: 2px dotted #ccc;
  float: right;
  background-color: #fff;
  max-width: 200px;
  overflow: hidden;
  padding: 0.5em;
  white-space: nowrap;
  h1, h2, h3, h4, h5, h6 {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 13px; }
  h2 {
    padding-left: 1.0em;
    font-size: 12px; }
  h3 {
    padding-left: 2.0em;
    font-size: 11px; }
  h4 {
    padding-left: 3.0em;
    font-size: 10px;
    display: none; }
  h5, h6 {
    display: none; } }

#content ul.tabs {
  border-bottom: 1px solid #BBBBBB;
  font-size: 80%;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 4px 10px;
  white-space: nowrap; }

#task_addcomment ul.tabs {
  border-bottom: 1px solid #BBBBBB;
  font-size: 80%;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 4px 10px;
  white-space: nowrap;
  margin-bottom: 0; }

#content ul.tabs li, #task_addcomment ul.tabs li {
  background: transparent image-url('tabs.gif') no-repeat scroll 100% 0;
  display: inline;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 4px 6px 4px 0; }

#content ul.tabs li a, #task_addcomment ul.tabs li a {
  margin: 0;
  padding: 4px 0 4px 6px;
  color: #423f54;
  background: transparent image-url('tabs.gif') no-repeat scroll 0 0; }

#content ul.tabs li {
  a:hover {
    color: #222222; }
  &.active {
    a {
      font-weight: bold;
      border-bottom: 1px solid #FFFFFF; }
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF; } }

div.basic {
  label {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    text-align: left;
    width: 15em; }
  input {
    margin-top: 0.2em; } }

fieldset.basic {
  label {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    text-align: right;
    width: 15em; }
  input {
    margin-top: 0.2em; }
  a {
    &.toggle, &#add_email_link {
      float: left;
      clear: right;
      text-align: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      margin-bottom: 0.2em; }
    &.action_email {
      float: left;
      clear: right;
      text-align: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      margin-bottom: 0.2em;
      margin-left: 0.2em;
      margin-right: 0.4em; } }
  b {
    float: left;
    clear: right;
    text-align: left;
    margin-left: 0.2em;
    margin-top: 0.5em;
    margin-right: 0.1em;
    margin-bottom: 0.2em; }
  a.toggle.below {
    clear: both; }
  .right_link {
    clear: right;
    float: left;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    margin-top: 0.5em;
    text-align: left; }
  li {
    &.attribute, &.property_value {
      padding: 40px 0px !important; } } }

/* #property_values li.property_value, #resource_type_attributes li { */

.attribute .add_attribute, .remove_attribute {
  display: inline;
  padding: 0px;
  padding-left: 10px; }

.add_attribute {
  display: block;
  padding: 20px 0px 10px 0px; }

#content .attribute li.choice {
  padding: 10px 0px; }

fieldset.basic {
  ul.actions li {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0px; }
  .actions label {
    clear: none; } }

.history {
  .hoverrow {
    clear: both;
    padding-bottom: 40px; }
  .time, .body {
    font-size: 12px; }
  .time {
    text-align: center;
    float: left;
    width: 5em; }
  .body {
    float: left; }
  .avatar {
    float: right; } }

/* Menus
 ------------------------------------------ */

#content ul {
  &.querymenu {
    margin: 0;
    padding: 0;
    font-size: 90%;
    z-index: 200000;
    li {
      position: relative;
      margin: 0;
      padding: 0;
      background: none;
      span {
        display: block;
        padding: 3px 10px 3px 16px;
        font-weight: bold;
        color: #555;
        border-top: 1px solid #a9a9a9; }
      a {
        display: block;
        width: auto;
        margin: 0;
        padding: 3px 8px 4px;
        /*color: #eee; */
        background: none;
        border-width: 0; }
      ul {
        position: absolute;
        left: -999em;
        height: auto;
        width: 159px;
        margin: 0 0 0 -1px;
        padding: 0;
        font-size: 100%;
        font-weight: normal;
        text-transform: none;
        background: #fff;
        /*border-top: 3px solid #aa9;*/
        border-left: 1px solid #aa9;
        border-right: 1px solid #aa9;
        z-index: 120;
        li {
          position: relative;
          width: 159px;
          background: none;
          border-bottom: 1px solid #888;
          &.first {
            border-top: 1px solid #888; } } }
      &:hover ul {
        left: auto; }
      ul li ul {
        position: absolute;
        top: -1px;
        margin-left: 160px;
        font-size: 100%;
        background: #fff;
        border-width: 0;
        border-top: 1px solid #aa9;
        border-right: 1px solid #aa9;
        z-index: 1000000;
        overflow: hidden;
        white-space: nowrap;
        li {
          border-left: 1px solid #aa9;
          border-right: 1px solid #aa9; } }
      &:hover ul ul {
        left: -999em; }
      li:hover ul {
        left: auto; } } }
  &.menu {
    margin: 0 0 5px;
    padding: 10px 0 0 0;
    li {
      padding: 2px 0;
      background: none;
      &.all {
        padding-left: 16px;
        color: #888; }
      &.cut a {
        padding-left: 16px;
        color: #666;
        background: image-url('cross_small.png') no-repeat 2px 2px; }
      &.add a {
        padding-left: 20px;
        color: #666;
        background: image-url('add.png') no-repeat 2px 2px; }
      a:hover {
        color: #000; } } } }

#flash p {
  margin: 5px; }

#flash_hide {
  float: right;
  margin-right: 1em; }

/* ----------------------------- */
/* Search filter */
/* ----------------------------- */

#tasks_filter {
  fieldset {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em; }
  .filters {
    float: left;
    margin: 10px 10px;
    width: 29%; } }

#filter_form .filters {
  float: left;
  margin: 10px 10px;
  width: 29%; }

#tasks_filter {
  .filters {
    label {
      width: 105px; }
    input {
      margin: 0px; } }
  .hideLink {
    float: right; }
  .save_link {
    clear: both; } }

#content ul.filter_links li {
  clear: none;
  float: left;
  padding-left: 10px; }

.filter_options {
  float: right; }

/* This class is used for the client/user search for now */

#search_filter_form input {
  font-size: 16px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px; }

.grey {
  color: gray; }

#search_filter_auto_complete ul {
  background-color: black;
  opacity: 0.8;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  z-index: 100;
  li {
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
    text-align: left;
    &.heading {
      cursor: default;
      font-weight: bold;
      padding-top: 15px;
      font-size: 14px; }
    &.selected {
      background-color: #444400; } } }

/* column hiding */

.column_picker:hover #column_picker {
  display: block; }

#column_picker {
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  display: none;
  left: -5px;
  position: absolute;
  top: 11px;
  z-index: 1000; }

#content .filter_links #column_picker ul li {
  clear: both;
  float: none;
  padding: 5px;
  &:hover {
    background-color: silver; } }

#column_picker {
  .shown {}
  .hidden {
    text-decoration: line-through; } }

/* tag cloud */

.cloud {
  .size1 {
    font-size: 90%;
    color: #bbb; }
  .size2 {
    font-size: 100%;
    color: #888; }
  .size3 {
    font-size: 115%;
    color: #555; }
  .size4 {
    font-size: 125%;
    color: #333; }
  .size5 {
    font-size: 150%;
    color: black; } }

/* Clearfix */

.log_entry:after, #taskform:after, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#install {
  margin: 0 auto;
  text-align: center;
  width: 640px;
  .nolabel {
    margin-top: 30px; }
  select {
    width: auto; } }

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5; }

.ui-menu {
  font-size: 10px;
  hr {
    float: left;
    width: 100%; } }

#flash_message {
  cursor: pointer; }

tr.jqgroup td {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 3px;
  padding-top: 12px; }

select#chngroup {
  margin-left: 5px; }

div#snooze_until {
  float: left;
  margin-top: 17px;
  margin-right: 100px; }

.task_dependent {
  color: #BBBBBB; }

.ui-jqgrid tr.jqgrow td .bold {
  font-weight: bold; }


// The following lines should be merged into the rest of the document.

@media print {
#menu, #tabmenu, #news, #help, #flash, #side_panel, #tasks_filter, #tags, #task_header, .work_icon, .avatar {
  display: none; }
}
  
@media print {
.page_header, .contact, #reports_params {
  display: none; }
}

/* email address attach styles */
#email_address_attach {
  h1, h2 { text-align: center; }
  form {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  input#email_attach_user_name {
    height: 20px;
  }
}
