// these variables override bootstrap defaults

$baseFontFamily: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$textColor: #333;

@mixin font-family-sans-serif() {
  font-family: $baseFontFamily;
}