/*
 *= require reset
 *= require jquery-ui
 *= require slimbox2
 *= require fullcalendar
 *= require jquery.fn.gantt
 *= require bootstrap-override
 *= require slick.grid
 *= require slick.columnpicker
 *= require slick-default-theme
 *= require select2

 *= require timer
 *= require common
 *= require widget
 *= require project
 *= require resource
 *= require customers
 *= require task
 *= require menu
 *= require login
 *= require wiki
 *= require search
 *= require properties
 *= require service_level_agreements
 *= require billing
 *= require planning
 *= require email_addresses
 *= require_self
 */
@import "old";
