/* global styles */
div.basic {
  label {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    text-align: left;
    width: 15em; }
  input {
    margin-top: 0.2em; } }

fieldset.basic {
  label {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    text-align: right;
    width: 15em; }
  input {
    margin-top: 0.2em; }
  a {
    &.toggle, &#add_email_link {
      float: left;
      clear: right;
      text-align: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      margin-bottom: 0.2em; }
    &.action_email {
      float: left;
      clear: right;
      text-align: left;
      margin-top: 0.5em;
      margin-right: 0.1em;
      margin-bottom: 0.2em;
      margin-left: 0.2em;
      margin-right: 0.4em; } }
  b {
    float: left;
    clear: right;
    text-align: left;
    margin-left: 0.2em;
    margin-top: 0.5em;
    margin-right: 0.1em;
    margin-bottom: 0.2em; }
  a.toggle.below {
    clear: both; }
  .right_link {
    clear: right;
    float: left;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    margin-top: 0.5em;
    text-align: left; }
  li {
    &.attribute, &.property_value {
      padding: 40px 0px !important; } } }

.content {
  background-color: #ffffff; }

.invalid {
  text-decoration: line-through; }

a.invalid:hover {
  text-decoration: line-through underline; }

input.checkbox {
  vertical-align: middle;
  margin-top: 2px; }
