
/* set place holder styles */
::-webkit-input-placeholder  { color:gray; }
input:-moz-placeholder { color:gray; }

fieldset.basic {
  label {
    margin-bottom: 0.3em;
    margin-right: 0.5em;
    text-align: right;
    width: 15em;
  }

  input {
    margin-top: 0.2em;
  }

  b {
    float: left;
    clear: right;
    text-align: left;
    margin-left: 0.2em;
    margin-top: 0.5em;
    margin-right: 0.1em;
    margin-bottom: 0.2em;
  }

  .right_link {
    clear: right;
    float: left;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    margin-top: 0.5em;
    text-align: left;
  }

  ul.actions li {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0px;
  }
  .actions label {
    clear: none;
  }

}

a.invalid, a.closed, span.invalid, span.closed {
  text-decoration: line-through;
}

a.invalid:hover, a.closed:hover {
  text-decoration: line-through underline;
}

fieldset form br {
  clear: both;
}

.clear {
  clear: both;
}

.none {
  display: none !important;
}

// Make select boxes less ugly
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  font-weight: lighter;
  font-size: 11px;
}

.pagination {
  margin: 0;

  a.previous_page {
    border-left-width: 1px;
  }

  em {
    color: #999;
    background-color: whiteSmoke;
  }

  span {
    color: #999;
    background-color: transparent;
    cursor: default;
  }

  em, span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #DDD;
  }

}

/* typography */
.error { color: red; }

