@import "variables";

ul {
    list-style-type: disc;
    padding-left: 1.3em;
    margin-left: 1px;
    min-height: 1px;
    list-style-position: outside;
}

li {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
    border-left: none;
    margin-left: 8px;
    padding-left: 4px;
    position: relative;
    margin-bottom: 2px;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    border-left: none;
    margin-left: 8px;
    padding-left: 4px;
    position: relative;
    margin-bottom: 2px;
}

ol li {
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
    border-left: none;
    margin-left: 8px;
    padding-left: 4px;
    position: relative;
    margin-bottom: 2px;
}

pre {
    background-color: #eee;
}

h1, h2, h3, h4 {
    color: $textColor;
}

h1, .mce_h1 {
    border-bottom: 2px solid #FFC266;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

h2, .mce_h2 {
    border-bottom: 2px dotted #FFC266;
    background-color: #ececec;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

h3, .mce_h3 {
    border-bottom: 2px dotted #FFC266;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.external a {
    text-decoration: underline;
    background: image-url('icon_world.gif') no-repeat 0% 0;
    padding: 0 0 0 16px;
}

.internal_missing a {
    color: #f00;
}

.description a {
    font-weight: bold;
}

