#page_header {
  width: 100%;
  background-color: white;
}

#menu_logo {
  display: inline-block;
}

#topper-worktime-area {
  float: right;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}

#menu_login {
  float: right;
  display: inline-block;
  text-align: right;
  padding: 5px;
}

#side_panel {
  padding-left: 10px;
  text-align: left;
  max-width: 170px;
  min-width: 170px;
  width: 170px;
  vertical-align: top;
  .section {
    padding-bottom: 15px;
  }
  ul {
    list-style-type: none;
    padding-bottom: 1px;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 3px;
    display: block;
  }
  .section ul li .small {
    font-size: 75%;
  }

}

.section li a {
  color: black;
}

// override navbar styles
.navbar .nav li.dropdown:hover ul.dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.navbar .nav li.dropdown ul.dropdown-menu {
  display: none;
  float: right;
  position: relative;
  top: auto;
  margin-top: -1px;
}

.navbar .nav li.dropdown:hover ul.preference {
  left: -80px;
}

.navbar .nav > li > a {
  color: #CCCCCC;
  font-size: 1.05em;
}
