/* Top menu bar */

#page_header {
  width: 100%;
  background-color: white; }

#menu_logo {
  display: inline-block; }

#menu_info {
  width: auto;
  display: inline-block;
  text-align: right;
  padding-left: 30px;
  vertical-align: middle; }

#menu_login {
  float: right;
  display: inline-block;
  text-align: right;
  padding: 5px; }

#side_panel {
  padding-left: 10px;
  text-align: left;
  max-width: 170px;
  min-width: 170px;
  width: 170px;
  vertical-align: top;
  .section {
    padding-bottom: 15px; }
  ul {
    list-style-type: none;
    padding-bottom: 1px;
    margin: 0;
    padding: 0; }
  li {
    margin-bottom: 3px;
    display: block; }
  .section ul li .small {
    font-size: 75%; } }

.section li a {
  color: black; }

/* top menu */

#tabmenu {
  position: relative;
  width: 100%;
  height: 23px;
  border-bottom: 3px solid white;
  background-image: image-url('menuback.gif');
  background-repeat: repeat-x;
  z-index: 2;
  a:hover {
    text-decoration: none; }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    display: block; }
  input {
    margin: 0;
    padding: 0;
    height: 11px; }
  li {
    /*float the main list items*/
    margin: 0;
    float: left;
    width: auto;
    display: block;
    padding-right: 0px;
    a {
      /*for all links in the list*/
      color: black;
      display: block;
      height: 16px;
      padding: 4px 6px 3px 6px;
      float: left; } }
  #search_menu {
    /*for all links in the list*/
    color: black;
    display: block;
    height: 16px;
    padding: 4px 6px 3px 6px;
    float: left;
    float: right; }
  li {
    &.right {
      float: right; }
    ul {
      display: none;
      position: absolute;
      top: 15px;
      margin-top: 8px;
      margin-left: -1px;
      width: auto;
      clear: left;
      background-color: #fcfcfc; }
    &.active {
      a {
        color: #B86D32;
        background: image-url('active_menu.png'); }
      li a {
        border: 0; } }
    ul {
      li {
        clear: both;
        float: none;
        width: auto;
        display: block; }
      a {
        background: #B86D32;
        font-size: 11px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin: 0;
        border: 0;
        color: white;
        width: 100%;
        display: block;
        z-index: 6000; } }
    a:hover {
      background: #B86D32;
      color: white; }
    &:hover {
      a {
        background: #B86D32;
        color: white; }
      ul {
        display: block; } }
    ul li a:hover {
      text-decoration: underline; } } }

li#preference {
  right: 0;
  position: absolute;

  ul {
    width: 120px;
    right: 0;
  }
}

