.project-block {
  margin: 1em;
  padding-bottom: 1em; }

.project-heading {
  clear: both;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px dotted #FFC266;
  position: relative;
  height: 18px;
  font-size: 16px;
  font-weight: bold; }

.header-link {
  font-size: small; }

.projects {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  padding-right: 0.5em; }

.milestones {
  color: #CCCCCC;
  font-size: 10px;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 1.5em; }

.project_customer {
  padding-top: 0.3em;
  color: #423f54;
  font-size: 13px;
  a {
    color: #423F54;
    font-size: 13px;
    font-weight: bold; } }

.project_completed {
  padding-top: 1.5em;
  font-size: smaller; }

.milestone_completed {
  padding-top: 0.5em;
  font-size: smaller; }

.project {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDD;
}

.project .title a.name {
  font-weight: bold;
  font-size: 1.2em;
}

.project .title:hover a.action {
  display: block !important;
  float: left;
  margin-left: 10px;
}

.project .title .progress {
  margin: 0 0 0 5px;
  width: 400px;
  float: left;
  height: 18px;
  display: none;
}

.milestone .progress {
  margin: 0 0 0 5px;
  width: 300px;
  float: right;
  height: 14px;
  display: none;
}

.project:hover .progress, .milestone:hover .progress {
  display: block;
}

.milestone:hover a.action {
  display: inline;
  margin-left: 10px;
}

.milestone {
  padding: 0.5em;

  &:hover {
    background-color: #e0e0ff !IMPORTANT;
  }
}

.milestone_date_title {
  font-size: 1.6em;
}
