/* reset css */
body {
  background-color: #FFFFFF;
  color: #333333;
  background-image: image-url('bg_grad.jpg');
  background-repeat: repeat-x;
  border: none;
  margin-top: 0;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 12px; }

small {
  color: gray; }

textarea {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

dt {
  font-size: 11px;
  color: #999999;
  display: inline;
  clear: both;
  float: left;
  width: 100px; }

dd {
  display: inline;
  float: left; }

a {
  color: #566ca5;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline; } }

fieldset {
  border: 1px solid #f9f9f9;
  padding: 3px;
  margin-bottom: 10px;

  label {
    float: left;
    clear: both;
    text-align: left;
    width: auto;
    margin-right: 0.5em;
    margin-top: 0.2em;
    font-weight: normal;
    cursor: pointer;
    font-size: 11px;
    color: #999; }

  textarea {
    float: left;
    clear: right;
    text-align: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em; }

  select {
    float: left;
    clear: right;
    text-align: left;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    width: 9.9em; }

  img {
    float: left;
    clear: right;
    margin: 0 0.5em 0 0;
    padding: 2px;
    border-top: 1px solid #FAFAFA; }

  input {
    float: left;
    clear: right;
    text-align: left;
    margin-top: 0.5em;
    margin-right: 0.1em;
    margin-bottom: 0.2em; } }

legend {
  font-size: 15px;
  font-weight: bold;
  padding-left: 0;
  color: #999; }

img {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 0; }

th {
  color: #423f54;
  font-weight: bold;
  background-color: #e5eaef; }

pre {
  padding: 1em;
  font-size: 11px;
  &.auto_generated {} }

input:focus, textarea:focus {
  border: 1px solid #FC0; }

input, textarea {
  border: 1px solid #eee; }

