#timer-ui {
  font-weight: normal;
  display: inline-block;

  #timer-buttons {
    display: inline-block;
  }

  #duration-display {
    display: inline-block;
    vertical-align: top;
  }

  #selected-worklog-property {
    cursor: pointer;
  }

  #worklog-property ul {
    display: inline-block;
  }
  img {
    width: 14px;
    &#play-btn {
      display: none;
    }
  }
}

#worklog-property {
  display: inline-block;
}

#timer-block {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  padding: 3px;
}

#task-edit-header-line .add-on {
  margin-left: 1px;
}
