@import "variables";

/* widget styles */
.section {
  padding-bottom: 15px;
}

.widget_title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #e8e8e8;
  color: #423f54;
  padding-bottom: 0.17em;
  letter-spacing: 0.15em;
  padding-top: 0.29em;
  background-image: image-url('header_bkg.gif');
  background-repeat: repeat-x;
  padding-left: 0.2em;
  cursor: move;
}

.widget_content {
  margin-right: 1em;
  z-index: 1;
}

.widget {
  padding-bottom: 1em;
  z-index: 1;
  margin-right: 1em;
  .page_header {
    padding-right: 0;
  }

}

.widget_title a {
  font-size: 11px;
  letter-spacing: 0em;
  text-transform: capitalize;
  padding-right: 1em;
  vertical-align: top;
  display: inline-block;
}

.panel-open {
  float: left;
  height: 13px;
  width: 13px;
  background: image-url('expand-indicator-small.png') 0px 0px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  padding-right: 2px;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 2px;
  cursor: pointer;
}

.panel-collapsed {
  float: left;
  height: 13px;
  width: 13px;
  background: image-url('expand-indicator-small.png') 0px -13px no-repeat;
  color: #a6a6a6;
  font-size: 80%;
  padding-right: 2px;
  padding-left: 0px;
  margin-top: 5px;
  margin-left: 2px;
  cursor: pointer;
}

a {
  &.widget-open {
    float: left;
    height: 13px;
    width: 13px;
    background: image-url('expand-indicator-small.png') 0px 0px no-repeat;
    color: #a6a6a6;
    font-size: 80%;
    padding-right: 2px;
    padding-left: 0px;
    margin-top: 1px;
  }
  &.widget-collapsed {
    float: left;
    height: 13px;
    width: 13px;
    background: image-url('expand-indicator-small.png') 0px -13px no-repeat;
    color: #a6a6a6;
    font-size: 80%;
    padding-right: 2px;
    padding-left: 0px;
    margin-top: 1px;
  }

}

.widget-config {
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  color: $textColor;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 14px;
  label {
    padding-right: 0.3em;
    font-weight: bold;
  }
  font-size: 9px;
  select, input {
    font-size: 9px;
  }

}

.widget {
  select, input {
    font-size: 9px;
  }

}

.section ul {
  margin-left: 5px;
  list-style: none;
}

.widget-placeholder { height: 100px; border: 2px dashed #ccc; }

.column { min-height: 200px; }

.log_header {
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
  padding-top: 8px;
  border-bottom: 1px solid #e8e8e8;
}

.widget_sub_header {
  padding-left: 1em;
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
}

.widget_sub_heading {
  margin-bottom: 0.5em;
  color: #666666;
  font-size: 11px;
  font-weight: bold;
}

