<table class="content" width="100%" style="margin-left:1em; padding-left: 1em; padding-right: 1em;">
  <tr>
    <td class="page_header">
      Admin
    </td>
  </tr>
  <tr>
    <td><%= link_to "[Stats]", stats_admin_index_path %> 
      | <%= link_to "[News]", news_admin_index_path %>
      | <%= link_to "Logos", logos_admin_index_path %>
    </td>
  </tr>
</table>

