<%= content_tag :p, t("devise.welcome", :email => @resource.email ) %>

<%= content_tag :p, t("devise.confirm_link", :email => @resource.email ) %>

<p><%= link_to t("devise.confirm_your_account"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
