 <%
   if @activities.size > 0
     day = 0
  %>
  <table cellpadding="0" cellspacing="0" class="content" width="100%" style="padding-left: 1em;">
    <%
    for log in @activities
      if day != tz.utc_to_local(log.created_at).yday
         day = tz.utc_to_local(log.created_at).yday
    %>
    <tr>
      <td colspan="3"><div class="log_header"><%= tz.utc_to_local(log.created_at).strftime_localized("%A, %d %B %Y") %></div></td>
    </tr>
    <%
    end
    %>
    <% if log.target.is_a? WorkLog %>
    <%= render :partial => 'activities/log_row', :locals => { :log => log.target } %>
    <% else %>
    <%= render :partial => 'activities/other_row', :locals => { :log => log } %>
    <% end %>
  <% end %>
  </table>
  <% end %>
