<% @page_title = "Forgot Password - #{$CONFIG[:productName]}" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "well span6 center" }) do |f| %>
  <legend>Forgot your password?</legend>
  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

  <label>Input your registered email address below to get reset password instructions:</label>
  <%= f.text_field :email, :placeholder => "email address", :class => "input-xxlarge" %>

  <%= f.submit "Send me reset email", :class => "btn" %>
<% end %>
