<% attrs = object.available_custom_attributes %>

<% if attrs.any? %>
<fieldset class="basic">
  <legend><%=_ "Custom Attributes" %></legend>
  
  <% attrs.each do |attr| %>
    <label><%= attr.display_name %></label>
  <% end %>
</fieldset>
<% end %>
