<% if flash[:info] %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:info] %>
  </div>
<% elsif flash[:success] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert">
    <a class="close" data-dismiss="alert">×</a>
    <%= flash[:alert] %>
  </div>
<% end %>
