<div id="menu_container">
	<% @internal = current_user.company.internal_customer %>
	<div id="menu_logo">
		<% if !@internal.nil? && @internal.logo? %>
			<%= tag("img", {:src => "/clients/show_logo/#{@internal.id}", :border => 0 } ) %>
		<% else %>
			<%= image_tag("logo.gif", :border => 0, :alt => "Clocking IT" ) %>
		<% end %>
	</div>
	<div id="menu_info">&nbsp;<%= render :partial => "layouts/sheet_info" %></div>
	<div id="menu_login"><%= render :partial => "layouts/login_info" %></div>
</div>