<div class="navbar-search pull-left" action="">
  <%= text_field_tag("keyword", "", :class => "search_filter input-xlarge", :placeholder => "search...", :id => "menubar_search", :autocomplete => "off") %>
</div>

<script type="text/javascript">
  jQuery(function() {
    new jobsworth.UnifiedSearch(jQuery(".navbar-search"), "/unified_search", 3);
  })
</script>
