<% if flash["notice"].present? -%>
  <%= render :partial => "/layouts/flash", :locals => {:message => flash["notice"] } %>
<% end -%>

<% news = NewsItem.find(:first, :order => "id desc", :conditions => ["id > ?", current_user.seen_news_id ])
unless news.nil? %>
<div class="ui-widget" id="news">
  <div class="ui-state-highlight ui-corner-all">
  	<span class="date">[<%= tz.utc_to_local(news.created_at).strftime("#{current_user.time_format} #{current_user.date_format}") %>]</span>
  	<%= news.body %>
  	<%= link_to_remote "[#{_('Hide')}]", :url => { :controller => 'users', :action => 'update_seen_news', :id => news.id, :class => "right" },:success => visual_effect(:fade, "news", :duration => 0.5) %>
  </div>
</div>
<% end -%>