<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <%= javascript_include_merged :portal %>
    <%= stylesheet_link_merged :portal %>
    <title>Clocking IT</title>
    <meta name="Author" content="Erlend Simonsen" />
    <meta name="Robots" content="index,follow" />
    <meta name="Description" content="Clocking IT - Keeping track of things so you can work" />
    <meta name="Keywords" content="TimeSheets, Project Management, Time Track, Todo List, To-Do List" />

  </head>

  <body>
   <%= @content_for_layout %>
    <div id="footer" style="margin-top:2em;border-top: 1px solid #3f3f3f;padding-top:1em;">
    <div style="float: left; width:300px;padding-left: 1em;">
      Built and designed by <span style="color:#fba105">Erlend &amp; Ellen Simonsen</span> | <a href="mailto:support@clockingit.com">Contact us</a></span>
    </div>
    <div style="float: right; width:50px;">
    <a style="background:white;" href="http://del.icio.us/post?url=http://www.clockingit.com/&title=ClockingIT+-+Online+Project+Management+and+time+tracking" target="_blank"><img src="/images/portal/add_delicious.gif" border="0"/></a> <a href="http://digg.com/submit?phase=2&url=http://www.clockingit.com/" target="_blank"><img src="/images/portal/add_digg.gif" border="0"/></a></div>
    </div>
  </body>
</html>
